openapi: 3.2.0
info:
  title: Redis Cloud Subscriptions - Pro - Connectivity API
  description: Redis Cloud API
  contact:
    name: Customer Support
    url: https://support.redislabs.com
    email: support@redis.com
  version: Version 1
servers:
- url: https://api.redislabs.com
security:
- x-api-key: []
  x-api-secret-key: []
  x-auth-token: []
tags:
- name: Subscriptions - Pro - Connectivity
  description: All Pro subscription connectivity operations.
  x-order: '11'
paths:
  /v1/subscriptions/{subscriptionId}/transitGateways/{TgwId}/attachment:
    put:
      tags:
      - Subscriptions - Pro - Connectivity
      summary: Update a transit gateway attachment
      description: Updates the specified AWS transit gateway attachment.
      operationId: updateTgwAttachmentCidrs
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: TgwId
        in: path
        description: AWS transit gateway ID.
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TgwUpdateCidrsRequest'
        required: true
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
    post:
      tags:
      - Subscriptions - Pro - Connectivity
      summary: Create a transit gateway attachment
      description: Creates an AWS transit gateway attachment.
      operationId: createTgwAttachment
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: TgwId
        in: path
        description: AWS transit gateway ID.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to create requested resource (primarily due to not active resource)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with the new name
        '422':
          description: Unprocessable Entity - The server understands the request, and the syntax of the request is correct, but it was unable to process the contained instructions
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
    delete:
      tags:
      - Subscriptions - Pro - Connectivity
      summary: Delete a transit gateway attachment
      description: Deletes the specified AWS transit gateway attachment.
      operationId: deleteTgwAttachment
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: TgwId
        in: path
        description: AWS transit gateway ID.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
  /v1/subscriptions/{subscriptionId}/transitGateways/invitations/{tgwInvitationId}/reject:
    put:
      tags:
      - Subscriptions - Pro - Connectivity
      summary: Reject a transit gateway resource share
      description: Rejects the specified AWS transit gateway resource share.
      operationId: rejectTgwResourceShare
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: tgwInvitationId
        in: path
        description: AWS transit gateway invitation ID.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
  /v1/subscriptions/{subscriptionId}/transitGateways/invitations/{tgwInvitationId}/accept:
    put:
      tags:
      - Subscriptions - Pro - Connectivity
      summary: Accept a transit gateway resource share
      description: Accepts the specified AWS transit gateway resource share.
      operationId: acceptTgwResourceShare
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: tgwInvitationId
        in: path
        description: AWS transit gateway invitation ID.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
  /v1/subscriptions/{subscriptionId}/regions/{regionId}/transitGateways/{TgwId}/attachment:
    put:
      tags:
      - Subscriptions - Pro - Connectivity
      summary: Update a specific region transit gateway attachment
      description: (Active-Active subscriptions only) Updates the specified AWS transit gateway attachment for one region in an Active-Active subscription.
      operationId: updateActiveActiveTgwAttachmentCidrs
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: regionId
        in: path
        description: Region ID - required for Active-Active subscription
        required: true
        schema:
          type: integer
          format: int32
        example: 1
      - name: TgwId
        in: path
        description: AWS transit gateway ID.
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActiveActiveTgwUpdateCidrsRequest'
        required: true
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
    post:
      tags:
      - Subscriptions - Pro - Connectivity
      summary: Create a transit gateway attachment for a specific region
      description: (Active-Active subscriptions only) Creates an AWS transit gateway attachment for one region in an Active-Active subscription.
      operationId: createActiveActiveTgwAttachment
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: regionId
        in: path
        description: Region ID - required for Active-Active subscription
        required: true
        schema:
          type: integer
          format: int32
        example: 1
      - name: TgwId
        in: path
        description: AWS transit gateway ID.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to create requested resource (primarily due to not active resource)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with the new name
        '422':
          description: Unprocessable Entity - The server understands the request, and the syntax of the request is correct, but it was unable to process the contained instructions
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
    delete:
      tags:
      - Subscriptions - Pro - Connectivity
      summary: Delete a transit gateway attachment for a specific region
      description: (Active-Active subscriptions only) Deletes the specified AWS transit gateway attachment for one region in an Active-Active subscription.
      operationId: deleteActiveActiveTgwAttachment
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: regionId
        in: path
        description: Region ID - required for Active-Active subscription
        required: true
        schema:
          type: integer
          format: int32
        example: 1
      - name: TgwId
        in: path
        description: AWS transit gateway ID.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
  /v1/subscriptions/{subscriptionId}/regions/{regionId}/transitGateways/invitations/{tgwInvitationId}/accept:
    put:
      tags:
      - Subscriptions - Pro - Connectivity
      summary: Accept a transit gateway resource share for a specific region
      description: (Active-Active subscriptions only) Accepts the specified AWS transit gateway resource share for one region in an Active-Active subscription.
      operationId: acceptActiveActiveTgwResourceShare
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: regionId
        in: path
        description: Region ID - required for Active-Active subscription
        required: true
        schema:
          type: integer
          format: int32
        example: 1
      - name: tgwInvitationId
        in: path
        description: AWS transit gateway invitation ID.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
  /v1/subscriptions/{subscriptionId}/regions/{regionId}/private-service-connect/{pscServiceId}/endpoints/{endpointId}:
    put:
      tags:
      - Subscriptions - Pro - Connectivity
      summary: Update a Private Service Connect endpoint for a single region
      description: (Active-Active subscriptions only) Updates a Private Service Connect endpoint for a single region in an Active-Active subscription.
      operationId: updateActiveActivePscServiceEndpoint
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: pscServiceId
        in: path
        description: Private Service Connect service ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: regionId
        in: path
        description: Region ID - required for Active-Active subscription
        required: true
        schema:
          type: integer
          format: int32
      - name: endpointId
        in: path
        description: Private Service Connect endpoint ID.
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActiveActivePscEndpointUpdateRequest'
        required: true
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
    delete:
      tags:
      - Subscriptions - Pro - Connectivity
      summary: Delete a Private Service Connect endpoint for a single region
      description: (Active-Active subscriptions only) Deletes the specified Private Service Connect endpoint for a single region in an Active-Active subscription.
      operationId: deleteActiveActivePscServiceEndpoint
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: pscServiceId
        in: path
        description: Private Service Connect service ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: regionId
        in: path
        description: Region ID - required for Active-Active subscription
        required: true
        schema:
          type: integer
          format: int32
      - name: endpointId
        in: path
        description: Private Service Connect endpoint ID.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
  /v1/subscriptions/{subscriptionId}/regions/peerings/{peeringId}:
    put:
      tags:
      - Subscriptions - Pro - Connectivity
      summary: Update Active-Active VPC peering
      description: (Active-Active subscriptions only) Updates VPC peering for Active-Active subscription.
      operationId: updateActiveActiveVpcPeering
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: peeringId
        in: path
        description: VPC Peering ID.
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActiveActiveVpcPeeringUpdateAwsRequest'
            example:
              vpcCidrs:
              - <10.10.10.0/24>
              - <10.10.20.0/24>
        required: true
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
    delete:
      tags:
      - Subscriptions - Pro - Connectivity
      summary: Delete Active-Active VPC peering
      description: (Active-Active subscriptions only) Deletes VPC peering for an Active-Active subscription.
      operationId: deleteActiveActiveVpcPeering
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: peeringId
        in: path
        description: VPC Peering ID.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
  /v1/subscriptions/{subscriptionId}/private-service-connect/{pscServiceId}/endpoints/{endpointId}:
    put:
      tags:
      - Subscriptions - Pro - Connectivity
      summary: Update a Private Service Connect endpoint
      description: Updates the specified Private Service Connect endpoint.
      operationId: updatePscServiceEndpoint
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: pscServiceId
        in: path
        description: Private Service Connect service ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: endpointId
        in: path
        description: Private Service Connect endpoint ID.
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PscEndpointUpdateRequest'
        required: true
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
    delete:
      tags:
      - Subscriptions - Pro - Connectivity
      summary: Delete a Private Service Connect endpoint
      description: Deletes the specified Private Service Connect endpoint.
      operationId: deletePscServiceEndpoint
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: pscServiceId
        in: path
        description: Private Service Connect service ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: endpointId
        in: path
        description: Private Service Connect endpoint ID.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
  /v1/subscriptions/{subscriptionId}/peerings/{peeringId}:
    put:
      tags:
      - Subscriptions - Pro - Connectivity
      summary: Update VPC peering
      description: Updates VPC peering for the specified subscription.
      operationId: updateVpcPeering
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: peeringId
        in: path
        description: VPC Peering ID.
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VpcPeeringUpdateAwsRequest'
            example:
              vpcCidrs:
              - <10.10.10.0/24>
              - <10.10.20.0/24>
        required: true
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
    delete:
      tags:
      - Subscriptions - Pro - Connectivity
      summary: Delete VPC peering
      description: Deletes the specified VPC peering.
      operationId: deleteVpcPeering
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: peeringId
        in: path
        description: VPC Peering ID.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
  /v1/subscriptions/{subscriptionId}/regions/{regionId}/transitGateways/invitations/{tgwInvitationId}/reject:
    put:
      tags:
      - Subscriptions - Pro - Connectivity
      summary: Reject transit gateway resource share for a specific region
      description: (Active-Active subscriptions only) Rejects the specified AWS transit gateway resource share for one region in an Active-Active subscription.
      operationId: rejectActiveActiveTgwResourceShare
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: regionId
        in: path
        description: Region ID - required for Active-Active subscription
        required: true
        schema:
          type: integer
          format: int32
        example: 1
      - name: tgwInvitationId
        in: path
        description: AWS transit gateway invitation ID.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
  /v1/subscriptions/{subscriptionId}/regions/{regionId}/private-service-connect:
    get:
      tags:
      - Subscriptions - Pro - Connectivity
      summary: Get Private Service Connect for a single region
      description: (Active-Active subscriptions only) Gets Private Service Connect details for a single region in an Active-Active subscription. Asynchronous operation - Query GET /tasks/{taskId} with the returned taskId.
      operationId: getActiveActivePscService
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: regionId
        in: path
        description: Region ID - required for Active-Active subscription
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
    post:
      tags:
      - Subscriptions - Pro - Connectivity
      summary: Set up a single region Private Service Connect
      description: (Active-Active subscriptions only) Sets up Google Cloud Private Service Connect for a single region in an existing Active-Active subscription hosted on Google Cloud.
      operationId: createActiveActivePscService
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: regionId
        in: path
        description: Region ID - required for Active-Active subscription
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to create requested resource (primarily due to not active resource)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with the new name
        '422':
          description: Unprocessable Entity - The server understands the request, and the syntax of the request is correct, but it was unable to process the contained instructions
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
    delete:
      tags:
      - Subscriptions - Pro - Connectivity
      summary: Remove Private Service Connect for a single region
      description: (Active-Active subscriptions only) Deletes a Private Service Connect for a single region in an existing Active-Active subscription hosted on Google Cloud.
      operationId: deleteActiveActivePscService
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: regionId
        in: path
        description: Region ID - required for Active-Active subscription
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
  /v1/subscriptions/{subscriptionId}/regions/{regionId}/private-service-connect/{pscServiceId}:
    get:
      tags:
      - Subscriptions - Pro - Connectivity
      summary: Get Private Service Connect endpoints for a single region
      description: (Active-Active subscriptions only) Gets endpoint details for the specified Private Service Connect in a single region in an Active-Active subscription. Asynchronous operation - Query GET /tasks/{taskId} with the returned taskId.
      operationId: getActiveActivePscServiceEndpoints
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: regionId
        in: path
        description: Region ID - required for Active-Active subscription
        required: true
        schema:
          type: integer
          format: int32
      - name: pscServiceId
        in: path
        description: Private Service Connect service ID.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
    post:
      tags:
      - Subscriptions - Pro - Connectivity
      summary: Create an Private Service Connect endpoint for a single region
      description: (Active-Active subscriptions only) Creates a new Private Service Connect endpoint for a single region in an Active-Active subscription.
      operationId: createActiveActivePscServiceEndpoint
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: pscServiceId
        in: path
        description: Private Service Connect service ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: regionId
        in: path
        description: Region ID - required for Active-Active subscription
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActiveActivePscEndpointCreateRequest'
        required: true
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to create requested resource (primarily due to not active resource)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with the new name
        '422':
          description: Unprocessable Entity - The server understands the request, and the syntax of the request is correct, but it was unable to process the contained instructions
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
  /v1/subscriptions/{subscriptionId}/regions/{regionId}/private-link:
    get:
      tags:
      - Subscriptions - Pro - Connectivity
      summary: Get Private Link configuration for a specific region
      description: (Active-Active subscriptions only) Gets the Private Link configuration for a specific region. Asynchronous operation - Query GET /tasks/{taskId} with the returned taskId.
      operationId: getActiveActivePrivateLink
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: regionId
        in: path
        description: Region ID - required for Active-Active subscription
        required: true
        schema:
          type: integer
          format: int32
        example: 1
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
    post:
      tags:
      - Subscriptions - Pro - Connectivity
      summary: Create a Private Link for a specific region
      description: (Active-Active subscriptions only) Creates a new Private Link for a specific region.
      operationId: createActiveActivePrivateLink
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: regionId
        in: path
        description: Region ID - required for Active-Active subscription
        required: true
        schema:
          type: integer
          format: int32
        example: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateLinkActiveActiveCreateRequest'
        required: true
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to create requested resource (primarily due to not active resource)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with the new name
        '422':
          description: Unprocessable Entity - The server understands the request, and the syntax of the request is correct, but it was unable to process the contained instructions
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
    delete:
      tags:
      - Subscriptions - Pro - Connectivity
      summary: Delete Private Link for a specific region
      description: (Active-Active subscriptions only) Deletes the Private Link configuration for a specific region.
      operationId: deleteActiveActivePrivateLink
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: regionId
        in: path
        description: Region ID - required for Active-Active subscription
        required: true
        schema:
          type: integer
          format: int32
        example: 1
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
  /v1/subscriptions/{subscriptionId}/regions/{regionId}/private-link/principals:
    post:
      tags:
      - Subscriptions - Pro - Connectivity
      summary: Add principal to Private Link for a specific region
      description: (Active-Active subscriptions only) Adds a principal (AWS ARN) to the Private Link configuration for a specific region.
      operationId: createActiveActivePrivateLinkPrincipal
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: regionId
        in: path
        description: Region ID - required for Active-Active subscription
        required: true
        schema:
          type: integer
          format: int32
        example: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateLinkActiveActivePrincipalsCreateRequest'
        required: true
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to create requested resource (primarily due to not active resource)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with the new name
        '422':
          description: Unprocessable Entity - The server understands the request, and the syntax of the request is correct, but it was unable to process the contained instructions
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
    delete:
      tags:
      - Subscriptions - Pro - Connectivity
      summary: Remove a principal from Private Link for a specific region
      description: (Active-Active subscriptions only) Removes one principal (AWS ARNs) from the Private Link configuration for a specific region.
      operationId: deleteActiveActivePrivateLinkPrincipals
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: regionId
        in: path
        description: Region ID - required for Active-Active subscription
        required: true
        schema:
          type: integer
          format: int32
        example: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateLinkActiveActivePrincipalsDeleteRequest'
        required: true
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
  /v1/subscriptions/{subscriptionId}/regions/{regionId}/private-link/connections/disassociate:
    post:
      tags:
      - Subscriptions - Pro - Connectivity
      summary: Disassociate connections from Private Link for a specific region
      description: (Active-Active subscriptions only) Disassociates one or more VPC endpoint connections from the Private Link configuration for a specific region.
      operationId: disassociateActiveActivePrivateLinkConnections
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: regionId
        in: path
        description: Region ID - required for Active-Active subscription
        required: true
        schema:
          type: integer
          format: int32
        example: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateLinkActiveActiveConnectionsDisassociateRequest'
        required: true
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
  /v1/subscriptions/{subscriptionId}/regions/peerings:
    get:
      tags:
      - Subscriptions - Pro - Connectivity
      summary: Get Active-Active VPC peering details
      description: (Active-Active subscriptions only) Gets VPC peering details for an Active-Active subscription. Asynchronous operation - Query GET /tasks/{taskId} with the returned taskId.
      operationId: getActiveActiveVpcPeerings
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
    post:
      tags:
      - Subscriptions - Pro - Connectivity
      summary: Create Active-Active VPC peering
      description: (Active-Active subscriptions only) Sets up VPC peering for an Active-Active subscription. Ensure your cloud provider is also set up for VPC Peering with Redis Cloud. See VPC Peering to learn how to set up VPC Peering with AWS and Google Cloud.
      operationId: createActiveActiveVpcPeering
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActiveActiveVpcPeeringCreateBaseRequest'
            example:
              provider: string
              region: us-east-1
              awsAccountId: <aws-account-id>
              vpcId: <vpc-identifier>
              vpcCidrs:
              - <10.10.10.0/24>
              - <10.10.20.0/24>
        required: true
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to create requested resource (primarily due to not active resource)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with the new name
        '422':
          description: Unprocessable Entity - The server understands the request, and the syntax of the request is correct, but it was unable to process the contained instructions
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
  /v1/subscriptions/{subscriptionId}/private-service-connect:
    get:
      tags:
      - Subscriptions - Pro - Connectivity
      summary: Get Private Service Connect
      description: Gets Private Service Connect details for a subscription. Asynchronous operation - Query GET /tasks/{taskId} with the returned taskId.
      operationId: getPscService
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
    post:
      tags:
      - Subscriptions - Pro - Connectivity
      summary: Set up Private Service Connect for a subscription
      description: Sets up Google Cloud Private Service Connect for an existing subscription hosted on Google Cloud.
      operationId: createPscService
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to create requested resource (primarily due to not active resource)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with the new name
        '422':
          description: Unprocessable Entity - The server understands the request, and the syntax of the request is correct, but it was unable to process the contained instructions
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
    delete:
      tags:
      - Subscriptions - Pro - Connectivity
      summary: Remove Private Service Connect for a subscription
      description: Deletes Private Service Connect for a subscription.
      operationId: deletePscService
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
  /v1/subscriptions/{subscriptionId}/private-service-connect/{pscServiceId}:
    get:
      tags:
      - Subscriptions - Pro - Connectivity
      summary: Get Private Service Connect endpoints
      description: Gets endpoint details for the specified Private Service Connect. Asynchronous operation - Query GET /tasks/{taskId} with the returned taskId.
      operationId: getPscServiceEndpoints
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: pscServiceId
        in: path
        description: Private Service Connect service ID.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
    post:
      tags:
      - Subscriptions - Pro - Connectivity
      summary: Create a Private Service Connect endpoint
      description: Creates a new Private Service Connect endpoint.
      operationId: createPscServiceEndpoint
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: pscServiceId
        in: path
        description: Private Service Connect service ID.
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PscEndpointCreateRequest'
        required: true
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to create requested resource (primarily due to not active resource)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with the new name
        '422':
          description: Unprocessable Entity - The server understands the request, and the syntax of the request is correct, but it was unable to process the contained instructions
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
  /v1/subscriptions/{subscriptionId}/private-link:
    get:
      tags:
      - Subscriptions - Pro - Connectivity
      summary: Get Private Link configuration
      description: Gets the Private Link configuration for a subscription. Asynchronous operation - Query GET /tasks/{taskId} with the returned taskId.
      operationId: getPrivateLink
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
    post:
      tags:
      - Subscriptions - Pro - Connectivity
      summary: Create a Private Link
      description: Creates a new Private Link.
      operationId: createPrivateLink
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateLinkCreateRequest'
        required: true
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to create requested resource (primarily due to not active resource)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with the new name
        '422':
          description: Unprocessable Entity - The server understands the request, and the syntax of the request is correct, but it was unable to process the contained instructions
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
    delete:
      tags:
      - Subscriptions - Pro - Connectivity
      summary: Delete Private Link
      description: Deletes the Private Link configuration for a subscription.
      operationId: deletePrivateLink
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
  /v1/subscriptions/{subscriptionId}/private-link/principals:
    post:
      tags:
      - Subscriptions - Pro - Connectivity
      summary: Add principal to Private Link
      description: Adds a principal (AWS ARN) to the Private Link configuration.
      operationId: createPrivateLinkPrincipal
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateLinkPrincipalsCreateRequest'
        required: true
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to create requested resource (primarily due to not active resource)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with the new name
        '422':
          description: Unprocessable Entity - The server understands the request, and the syntax of the request is correct, but it was unable to process the contained instructions
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
    delete:
      tags:
      - Subscriptions - Pro - Connectivity
      summary: Remove a principal from Private Link
      description: Removes a principal (AWS ARNs) from the Private Link configuration.
      operationId: deletePrivateLinkPrincipals
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateLinkPrincipalsDeleteRequest'
        required: true
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
[...]
