openapi: 3.2.0
info:
  title: Redis Cloud Account API
  description: Redis Cloud API
  contact:
    name: Customer Support
    url: https://support.redislabs.com
    email: support@redis.com
  version: Version 1
servers:
- url: https://api.redislabs.com
security:
- x-api-key: []
  x-api-secret-key: []
  x-auth-token: []
tags:
- name: Account
  description: Current account details.
  x-order: '0'
paths:
  /v1/cost-report:
    post:
      tags:
      - Account
      summary: Generate cost report
      description: Generates a cost report in FOCUS format for the specified time period (max 40 days range) and filters. Read more about focus here.
      operationId: createCostReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CostReportCreateRequest'
        required: true
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to create requested resource (primarily due to not active resource)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with the new name
        '422':
          description: Unprocessable Entity - The server understands the request, and the syntax of the request is correct, but it was unable to process the contained instructions
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
  /v1/session-logs:
    get:
      tags:
      - Account
      summary: Get session logs
      description: Gets session logs for this account.
      operationId: getAccountSessionLogs
      parameters:
      - name: offset
        in: query
        description: Number of items to skip.
        required: false
        schema:
          type: integer
          format: int32
        example: 0
      - name: limit
        in: query
        description: 'Maximum number of logs to return. Limit: 100'
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
        example: 100
      - name: startTime
        in: query
        description: Filter session logs with time >= startTime (UTC)
        required: false
        schema:
          type: string
        example: '2025-01-01T00:00:00Z'
      - name: endTime
        in: query
        description: Filter session logs with time <= endTime (UTC)
        required: false
        schema:
          type: string
        example: '2025-01-31T23:59:59Z'
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSessionLogEntries'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
  /v1/regions:
    get:
      tags:
      - Account
      summary: Get available Pro plan regions
      description: Gets a list of available regions for Pro subscriptions. For Essentials subscriptions, use GET /fixed/plans.
      operationId: getSupportedRegions
      parameters:
      - name: provider
        in: query
        description: Filters results to the specified cloud provider.
        required: false
        schema:
          type: string
          enum:
          - AWS
          - GCP
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Regions'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
  /v1/query-performance-factors:
    get:
      tags:
      - Account
      summary: Get query performance factors
      description: Gets a list of available query performance factors.
      operationId: getSupportedSearchScalingFactors
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchScalingFactorsData'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
  /v1/payment-methods:
    get:
      tags:
      - Account
      summary: Get payment methods
      description: Gets a list of all payment methods for this account.
      operationId: getAccountPaymentMethods
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethods'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
  /v1/logs:
    get:
      tags:
      - Account
      summary: Get system logs
      description: Gets system logs for this account.
      operationId: getAccountSystemLogs
      parameters:
      - name: offset
        in: query
        description: Number of items to skip.
        required: false
        schema:
          type: integer
          format: int32
        example: 0
      - name: limit
        in: query
        description: 'Maximum number of logs to return. Limit: 1000'
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          format: int32
        example: 100
      - name: startTime
        in: query
        description: Filter logs with time >= startTime (UTC)
        required: false
        schema:
          type: string
        example: '2025-01-01T00:00:00Z'
      - name: endTime
        in: query
        description: Filter logs with time <= endTime (UTC)
        required: false
        schema:
          type: string
        example: '2025-01-31T23:59:59Z'
      - name: resourceId
        in: query
        description: Filter logs by resourceId
        required: false
        schema:
          type: integer
          format: int32
        example: 1234
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSystemLogEntries'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
  /v1/database-modules:
    get:
      tags:
      - Account
      summary: Get advanced capabilities
      description: Gets a list of Redis advanced capabilities (also known as modules) available for databases prior to Redis 8. Advanced capability support may differ based on subscription and database settings.
      operationId: getSupportedDatabaseModules
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModulesData'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
  /v1/data-persistence:
    get:
      tags:
      - Account
      summary: Get data persistence options
      description: Gets a list of all data persistence options for this account.
      operationId: getDataPersistenceOptions
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataPersistenceOptions'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
  /v1/cost-report/{costReportId}:
    get:
      tags:
      - Account
      summary: Get cost report
      description: Returns the generated cost report file in FOCUS format using the costReportId returned from the cost report generation task. The file is downloaded as an attachment with the filename set to the costReportId.
      operationId: getCostReport
      parameters:
      - name: costReportId
        in: path
        description: Cost Report ID. Returned from a Cost Report generation task.
        required: true
        schema:
          type: string
        example: cost-report-12345-abcdef
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '200':
          description: Returns the cost report file
          content:
            application/octet-stream: {}
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
  /v1/:
    get:
      tags:
      - Account
      summary: Get current account
      description: Gets information on this account.
      operationId: getCurrentAccount
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RootAccount'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
components:
  schemas:
    AccountSessionLogEntries:
      type: object
      properties:
        entries:
          type: array
          items:
            $ref: '#/components/schemas/AccountSessionLogEntry'
        links:
          type: array
          items:
            type: object
            additionalProperties:
              type: string
    ProcessorResponse:
      type: object
      properties:
        resourceId:
          type: integer
          format: int32
        additionalResourceId:
          type: integer
          format: int32
        resource:
          type: object
        error:
          type: string
          enum:
          - UNAUTHORIZED
          - ACCOUNT_POC_INACTIVE_PENDING
          - CLOUD_ACCOUNT_NOT_ACTIVE
          - CLOUD_ACCOUNT_NOT_FOUND
          - CLOUD_ACCOUNT_USED
          - CLOUD_ACCOUNT_INVALID_CREDS
          - CLOUD_ACCOUNT_NAME_EXISTS
          - CLOUD_ACCOUNT_ACCESS_KEY_EXISTS
          - CLOUD_ACCOUNT_PERMISSION_FAILED
          - CLOUD_ACCOUNT_ALLOCATION_FAILURE
          - NOT_KNOWN_CLOUD_PROVIDER
          - MULTIPLE_CLOUD_PROVIDERS_NOT_SUPPORTED
          - SUBSCRIPTION_NOT_ACTIVE
          - SUBSCRIPTION_CONTAINS_NON_ACTIVE_DATABASE
          - SUBSCRIPTION_NOT_FOUND
          - SUBSCRIPTION_IN_USE
          - SUBSCRIPTION_CA_PROVIDER_MISMATCH
          - SUBSCRIPTION_NETWORKING_MISSING
          - NETWORKING_CIDR_MISSING
          - SUBSCRIPTION_INVALID_CIDR
          - NETWORKING_SECURITY_GROUP_MISSING
          - NETWORKING_SUBNET_IDS_MISSING
          - NETWORKING_VPC_ID_MISSING
          - NETWORKING_CIDR_IS_NOT_SUPPORTED
          - NETWORKING_VPC_WITH_SUBNETS_AND_SECURITY_GROUP_IS_NOT_SUPPORTED
          - NETWORKING_VPC_WITH_SUBNETS_AND_SECURITY_GROUP_IS_NOT_SUPPORTED_FOR_INTERNAL_CLOUD_ACCOUNT
          - INVALID_NUMBER_OF_SUBNET_IDS
          - SUBSCRIPTION_PI_NOT_FOUND
          - SUBSCRIPTION_INVALID_REGION_NAME
          - SUBSCRIPTION_INVALID_REGION_ID
          - SUBSCRIPTION_BAD_PREFERRED_AZ_SIZE
          - SUBSCRIPTION_REGION_DOES_NOT_SUPPORT_MULTI_AZ
          - SUBSCRIPTION_AA_NON_MAZ_REGION_NOT_SUPPORTED
          - SUBSCRIPTION_PREFERRED_AZ_INVALID_VALUE
          - SUBSCRIPTION_PREFERRED_AZ_MUST_BE_DEFINED_ONCE
          - SUBSCRIPTION_PREFERRED_AZ_IS_DISABLED
          - SUBSCRIPTION_MUST_HAVE_AT_LEAST_ONE_DATABASE
          - SUBSCRIPTION_REDIS_VERSION_INVALID_VALUE
          - SUBSCRIPTION_REDIS_VERSION_CONFLICT
          - ACTIVE_ACTIVE_SUBSCRIPTION_PREVIEW_REDIS_VERSION_IS_NOT_SUPPORTED
          - SUBSCRIPTION_GCP_ALLOW_ONLY_INTERNAL
          - CLUSTER_UNDER_MAINTENANCE
          - ACTIVE_ACTIVE_SUBSCRIPTION_IS_NOT_SUPPORTED
          - RESOURCE_TAGS_EXCEEDS_MAXIMUM_COUNT
          - RESOURCE_TAG_KEY_EXCEEDS_MAXIMUM_LENGTH
          - RESOURCE_TAG_VALUE_EXCEEDS_MAXIMUM_LENGTH
          - RESOURCE_TAGS_NOT_ALLOWED_WITH_INTERNAL_CLOUD_ACCOUNT
          - RESOURCE_TAGS_NOT_ALLOWED
          - RESOURCE_TAGS_NAME_NOT_ALLOWED
          - RESOURCE_TAGS_EMPTY_KEY
          - RESOURCE_TAGS_DUPLICATE_KEY
          - RESOURCE_TAGS_MISSING_VALUE
          - CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_IS_NOT_SUPPORTED
          - CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_MISSING_USAGE_PERMISSIONS
          - CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_MISSING_GET_KEY_PERMISSIONS
          - CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_MISSING_GET_IAM_POLICY_PERMISSIONS
          - CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_DISABLED_KEY
          - CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_INVALID_KEY_NAME
          - CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_WRONG_REGION
          - CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_NOT_ALLOWED_WITH_CLOUD_PROVIDER_MANAGED_KEY
          - CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_NOT_ALLOWED_WITH_INTERNAL_CLOUD_ACCOUNT
          - CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_REQUIRED_FOR_EXTERNAL_CLOUD_ACCOUNT
          - CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_DELETION_GRACE_PERIOD_REQUIRED
          - CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_INVALID_NUMBER_OF_KEYS
          - CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_REGION_NOT_REQUIRED
          - CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_REGION_REQUIRED
          - CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_MISSING_KEYS
          - CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_INVALID_REGION
          - CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_DUPLICATE_REGIONS
          - CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_INVALID_FORMAT
          - CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_UPDATE_IS_NOT_SUPPORTED
          - CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_SUBSCRIPTION_INVALID_STATUS
          - ACTIVE_ACTIVE_CREATE_A_REGION_CUSTOMER_MANAGED_KEY_RESOURCE_NAME_SUBSCRIPTION_IS_NOT_CUSTOMER_MANAGED
          - ACTIVE_ACTIVE_CREATE_A_REGION_CUSTOMER_MANAGED_KEY_RESOURCE_NAME_IS_NOT_SET
          - PLANNED_SUBSCRIPTION_INVALID_PLAN_ID
          - PLANNER_TIMEOUT
          - PLANNER_FAILURE
          - PLANNER_NOT_ENOUGH_AZS
          - PLANNER_INVALID_INSTANCE_TYPE_PER_AZ
          - PLANNER_MODULE_PLAN_CLUSTERING_ERROR
          - PLANNER_MODULE_PLAN_RESHARDING_ERROR
          - PLANNER_INVALID_PLAN
          - PLANNER_INVALID_SIZE
          - PLANNER_INVALID_NUMBER
          - PLANNER_INVALID_THROUGHPUT
          - PROVISION_FAILURE
          - DATABASE_NOT_ACTIVE
          - DATABASE_NOT_FOUND
          - DATABASE_SUBSCRIPTION_MISMATCH
          - DATABASE_CANT_EDIT_THROUGHPUT_BY
          - DATABASE_INVALID_SHARDS_COUNT
          - DATABASE_CONTAIN_MEMCACHED_USERNAME
          - DATABASE_CONTAIN_MEMCACHED_PASSWORD
          - DATABASE_SUBSCRIPTION_IN_PENDING_STATUS
          - DATABASE_THROUGHPUT_TOO_BIG
          - DATABASE_INVALID_THROUGHPUT_INCREMENT
          - DATABASE_MODULE_NOT_SUPPORTING_SHARD_THROUGHPUT_OPTION
          - DATABASE_MODULE_NOT_SUPPORTED
          - DATABASE_QUERY_PERFORMANCE_FACTOR_INVALID_VALUE
          - DATABASE_QUERY_PERFORMANCE_FACTOR_SEARCH_IS_REQUIRED
          - DATABASE_QUERY_PERFORMANCE_FACTOR_IS_NOT_SUPPORTED
          - DATABASE_QUERY_PERFORMANCE_FACTOR_IS_NOT_SUPPORTED_ON_ACTIVE_ACTIVE
          - REDISEARCH_SUPPORTS_ONLY_OPERATIONS_PER_SECOND_AS_THROUGHPUT_MEASUREMENT
          - REDIS_GRAPH_SUPPORTS_ONLY_OPS_PER_SECOND_AS_THROUGHPUT_MEASUREMENT
          - DATABASE_RESP_VERSION_IS_NOT_SUPPORTED
          - DATABASE_RESP_VERSION_IS_NOT_SUPPORTED_ON_CREATE_SUBSCRIPTION
          - DATABASE_ROF_NOT_SUPPORTED
          - DATABASE_REDISGRAPH_OVERSIZED
          - DATABASE_BACKUP_NOT_SUPPORTED
          - DATABASE_EVICTION_NOT_SUPPORTED
          - DATABASE_AOF_NOT_SUPPORTED
          - DATABASE_REPLICA_OF_NOT_SUPPORTED
          - DATABASE_SNAPSHOT_NOT_SUPPORTED
          - DATABASE_CLUSTERING_NOT_SUPPORTED
          - DATABASE_INVALID_THREAD_NUMBER
          - DATABASE_HASH_NOT_SUPPORTED
          - DATABASE_RESHARD_NOT_SUPPORTED
          - DATABASE_FEATURE_NOT_SUPPORTED
          - DATABASE_NAME_EXISTS
          - DATABASE_NAME_DUPLICATE
          - DATABASE_INVALID_NAME
          - DATABASE_NAME_TOO_LONG
          - DATABASE_SIZE_TOO_SMALL
          - DATABASE_SIZE_TOO_BIG
          - DATABASE_SIZE_LIMIT_NOT_DEFINED
          - DATABASE_SIZE_LIMIT_INVALID_TOO_MANY_MEMORY_SPECIFICATIONS
          - DATABASE_PASSWORD_IS_BLANK
          - DATABASE_PASSWORD_IS_TOO_LONG
          - DATABASE_REDIS_SEARCH_MODULE_VALUE_IS_NOT_INTEGER
          - DATABASE_REDIS_SEARCH_MODULE_VALUE_NOT_IN_RANGE
          - DATABASE_MODULE_MUST_BE_DEFINED_ONCE
          - DATABASE_MEMCACHED_CONTAINS_MODULES
          - DATABASE_MEMCACHED_NOT_SUPPORT_OSS_CLUSTER_API
          - REDIS_ON_FLASH_DATABASE_MEMCACHED_PROTOCOL_IS_NOT_ALLOWED
          - DATABASE_MEMCACHED_CONTAINS_REDIS_PASSWORD
          - DATABASE_MEMCACHED_CONTAINS_REDIS_DEFAULT_USER
          - DATABASE_MEMCACHED_SASL_USERNAME_IS_BLANK
          - DATABASE_MEMCACHED_SASL_PASSWORD_IS_BLANK
          - DATABASE_MEMCACHED_SASL_PASSWORD_MAX_LENGTH
          - DATABASE_REDIS_FLEX_CONTAINS_MODULES
          - DATABASE_AVERAGE_ITEM_SIZE_NOT_ALLOWED
          - DATABASE_RAM_PERCENTAGE_NOT_ALLOWED
          - DATABASE_RAM_PERCENTAGE_NOT_SUPPORTED
          - DATABASE_RAM_PERCENTAGE_IS_INVALID
          - DATABASE_AVERAGE_ITEM_SIZE_IS_DEPRECATED
          - DATABASE_MEMORY_LIMIT_IS_INVALID_FOR_ROF
          - DATABASE_DATASET_SIZE_IS_INVALID_FOR_ROF
          - DATABASE_SIZE_SMALLER_THAN_USAGE
          - DATABASE_USAGE_EXCEEDS_GLOBAL_LIMIT
          - DATABASE_USAGE_EXCEEDS_LOCAL_LIMIT
          - DATABASE_INVALID_CERT
          - DATABASE_EXPIRED_CERT
          - DATABASE_MISSING_CERT
          - DATABASE_CLIENT_SSL_CERTIFICATE_DEPRECATED
          - DATABASE_CLIENT_SSL_CERTIFICATE_MORE_THAN_1_ACTIVE
          - DATABASE_SIP_OVER_LIMIT
          - DATABASE_INVALID_SIP
          - DATABASE_INVALID_SIP_FREE_PLAN
          - DATABASE_INVALID_ALERTS
          - DATABASE_INVALID_MODULE
          - DATABASE_INVALID_MODULE_PARAMETER
          - DATABASE_INVALID_MODULE_PARAMETER_VALUE
          - DATABASE_EXPLICIT_MODULES_NOT_SUPPORTED_FOR_THIS_REDIS_VERSION
          - DATABASE_INVALID_ALERT_VALUE
          - DATABASE_SHARDING_TYPE_IS_IMMUTABLE
          - DATABASE_SHARDING_TYPE_IS_NOT_SUPPORTED
          - DATABASE_REGEX_RULES_NO_CLUSTERING
          - DATABASE_REGEX_RULES_CHANGES_BLOCKED
          - DATABASE_OSS_CLUSTER_NOT_SUPPORTED
          - DATABASE_EXTERNAL_ENDPOINT_WITHOUT_OSS_CLUSTER
          - CUSTOM_REGEX_RULES_IS_NOT_ALLOWED_WITHOUT_ENABLE_DATABASE_CLUSTERING_IS_TRUE
          - DATABASE_OSS_CLUSTER_CUSTOM_REGEX_NOT_SUPPORTED
          - DATABASE_OSS_CLUSTER_REPLICA_NOT_SUPPORTED
          - DATABASE_REPLICA_OF_PROPERTY_DEPRECATED
          - DATABASE_REPLICA_PER_SOURCE_OVER_LIMIT
          - DATABASE_REPLICA_CYCLE
          - DATABASE_INVALID_REPLICA
          - DATABASE_UNSUPPORTED_REPLICA_OF_REDIS_FLEX
          - DATABASE_REPLICAS_OVER_LIMIT
          - DATABASE_BACKUP_DISABLED
          - DATABASE_BACKUP_FAILED
          - DATABASE_BACKUP_NOT_CONFIGURED
          - DATABASE_INVALID_BACKUP_PATH
          - DATABASE_INVALID_BACKUP_INTERVAL
          - DATABASE_INVALID_TOO_MANY_BACKUP_SPECIFICATIONS
          - DATABASE_INVALID_BACKUP_STORAGE_TYPE
          - DATABASE_INVALID_IMPORT_SOURCE_TYPE
          - DATABASE_INVALID_BACKUP_TIME_UTC
          - DATABASE_INVALID_BACKUP_INTERVAL_AND_TIME_UTC_MISMATCH
          - DATABASE_INVALID_BACKUP_PATH_USED_BY_ANOTHER_ACCOUNT
          - DATABASE_INVALID_BACKUP_CONFIGURATION
          - DATABASE_INVALID_REGEX_RULES
          - DATABASE_INVALID_QUANTITY
          - DATABASE_REPLICA_OF_VERSION_NOT_COMPATIBLE
          - DATABASE_REPLICA_OF_SOURCE_INCOMPATIBLE
          - DATABASE_IMPORT_FAILED
          - DATABASE_IMPORT_FROM_NON_OSS
          - DATABASE_IMPORT_SOURCE_NOT_FOUND
          - DUPLICATE_DATABASE_IMPORT_SOURCE_PATH
          - DATABASE_IMPORT_WRONG_SIZE
          - DATABASE_IMPORT_URI_NOT_PROVIDED
          - DATABASE_IMPORT_MULTIPLE_REDIS_SOURCES
          - DATABASE_IMPORT_REDIS_BAD_URI
          - DATABASE_REPLICA_OF_BAD_URI
          - DATABASE_IMPORT_S3_BAD_URI
          - DATABASE_IMPORT_HTTP_BAD_URI
          - DATABASE_IMPORT_FTP_BAD_URI
          - DATABASE_IMPORT_AZURE_BAD_URI
          - DATABASE_IMPORT_GCS_BAD_URI
          - DATABASE_IMPORT_NOT_ALLOWED
          - DATABASE_PORT_INVALID_VALUE
          - DATABASE_PORT_IS_UNAVAILABLE
          - DATABASE_CUSTOM_PORT_NOT_SUPPORTED
          - DATABASE_CUSTOM_PORT_NOT_UNIQUE
          - DATABASE_AVERAGE_ITEM_SIZE_INVALID_VALUE
          - DATABASE_REDIS_VERSION_IS_NOT_SUPPORTED
          - DATABASE_REDIS_VERSION_IS_NOT_SUPPORTED_FOR_REGION
          - DATABASE_REDIS_VERSION_IS_NOT_SUPPORTED_FOR_MEMCACHED
          - DATABASE_REDIS_VERSION_IS_REQUIRED
          - DATABASE_REDIS_VERSION_INVALID_VALUE
          - INCOMPATIBLE_TF_PROVIDER
          - DESIRED_SOFTWARE_VERSION_IS_NOT_SUPPORTED
          - CONNECTIVITY_REQUESTS_ON_CUSTOMER_MANAGED_VPC_SUBSCRIPTION
          - VPC_PEERING_NOT_ACTIVE
          - VPC_PEERING_GENERAL_ERROR
          - VPC_PEERING_INVALID_ACCOUNT
          - VPC_PEERING_INVALID_VPC
          - VPC_PEERING_INVALID_CIDR
          - VPC_PEERING_CIDR_IS_MISSING
          - VPC_PEERING_TOO_MANY_CIDR_SPECIFICATIONS
          - VPC_PEERING_INVALID_REGION
          - VPC_PEERING_ALREADY_EXIST
          - VPC_PEERING_NOT_FOUND
          - VPC_PEERING_INVALID_PROJECT
          - VPC_PEERING_CLUSTER_NOT_ACTIVE
          - VPC_PEERING_CIDR_OVERLAP
          - VPC_PEERING_BELONGS_TO_DIFFERENT_CLOUD_PROVIDER
          - VPC_PEERING_IS_NOT_KNOWN_CLOUD_PROVIDER
          - CREATING_AN_ACTIVE_ACTIVE_VPC_PEERING_IS_NOT_ALLOWED_WITH_SINGLE_REGION_SUBSCRIPTION
          - UPDATING_AN_ACTIVE_ACTIVE_VPC_PEERING_IS_NOT_ALLOWED_WITH_SINGLE_REGION_SUBSCRIPTION
          - DELETING_AN_ACTIVE_ACTIVE_VPC_PEERING_IS_NOT_ALLOWED_WITH_SINGLE_REGION_SUBSCRIPTION
          - DELETING_AN_ACTIVE_ACTIVE_VPC_PEERING_IS_NOT_ALLOWED_FOR_A_SUBSCRIPTION_WITH_NO_VPC_PEERINGS
          - ACTIVE_ACTIVE_VPC_PEERING_NOT_FOUND
          - VPC_PEERING_MULTIPLE_CIDRS_IS_DISABLED
          - TGW_ACCEPTING_AN_ACTIVE_ACTIVE_TGW_RESOURCE_SHARE_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION
          - TGW_REJECTING_AN_ACTIVE_ACTIVE_TGW_RESOURCE_SHARE_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION
          - TGW_ACCEPTING_A_FLEXIBLE_SUBSCRIPTION_TGW_RESOURCE_SHARE_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION
          - TGW_REJECTING_A_FLEXIBLE_SUBSCRIPTION_TGW_RESOURCE_SHARE_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION
          - TGW_CREATING_AN_ACTIVE_ACTIVE_SUBSCRIPTION_TGW_ATTACHMENT_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION
          - TGW_DELETING_AN_ACTIVE_ACTIVE_SUBSCRIPTION_TGW_ATTACHMENT_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION
          - TGW_UPDATING_AN_ACTIVE_ACTIVE_TGW_ATTACHMENT_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION
          - TGW_CREATING_A_FLEXIBLE_SUBSCRIPTION_TGW_ATTACHMENT_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION
          - TGW_UPDATING_A_FLEXIBLE_SUBSCRIPTION_TGW_ATTACHMENT_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION
          - TGW_DELETING_A_FLEXIBLE_SUBSCRIPTION_TGW_ATTACHMENT_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION
          - TGW_CLOUD_PROVIDER_IS_NOT_SUPPORTED
          - TGW_RESOURCE_SHARE_DOES_NOT_EXIST
          - TGW_DOES_NOT_EXIST
          - TGW_ATTACHMENT_DOES_NOT_EXIST
          - TGW_ATTACHMENT_IS_NOT_ACTIVE
          - TGW_ATTACHMENT_CIDRS_INVALID_LENGTH
          - TGW_ATTACHMENT_CIDRS_ARE_THE_SAME_AS_EXISTING_ONES
          - TGW_ATTACHMENT_CIDRS_REQUEST_CONTAINS_DUPLICATES
          - TGW_REGION_DOES_NOT_EXIST
          - TGW_GETTING_ACTIVE_ACTIVE_SUBSCRIPTION_TGW_IS_NOT_ALLOWED_WITH_SINGLE_REGION_SUBSCRIPTION
          - TGW_GETTING_ACTIVE_ACTIVE_SUBSCRIPTION_TGW_INVITATIONS_IS_NOT_ALLOWED_WITH_SINGLE_REGION_SUBSCRIPTION
          - TGW_GETTING_SINGLE_REGION_TGWS_IS_NOT_ALLOWED_WITH_ACTIVE_ACTIVE_SUBSCRIPTION
          - TGW_GETTING_SINGLE_REGION_TGW_INVITATIONS_IS_NOT_ALLOWED_WITH_ACTIVE_ACTIVE_SUBSCRIPTION
          - PSC_ENDPOINT_INVALID_GCP_PROJECT_ID
          - PSC_ENDPOINT_INVALID_VPC_NAME
          - PSC_ENDPOINT_INVALID_VPC_SUBNET_NAME
          - PSC_ENDPOINT_INVALID_CONNECTION_NAME
          - PSC_SERVICE_ALREADY_EXISTS
          - PSC_ENDPOINT_ALREADY_EXISTS
          - PSC_CLOUD_PROVIDER_IS_NOT_SUPPORTED
          - PSC_GET_AN_ACTIVE_ACTIVE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_ENDPOINTS_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION
          - PSC_GET_A_FLEXIBLE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_ENDPOINT_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION
          - PSC_CREATING_AN_ACTIVE_ACTIVE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION
          - PSC_CREATING_A_FLEXIBLE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION
          - PSC_DELETING_AN_ACTIVE_ACTIVE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION
          - PSC_DELETING_A_FLEXIBLE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION
          - PSC_CREATING_A_FLEXIBLE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_ENDPOINT_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION
          - PSC_CREATING_AN_ACTIVE_ACTIVE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_ENDPOINT_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION
          - PSC_CREATING_AN_ACTIVE_ACTIVE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_IS_NOT_SUPPORTED
          - PSC_UPDATING_A_FLEXIBLE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_ENDPOINT_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION
          - PSC_UPDATING_AN_ACTIVE_ACTIVE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_ENDPOINT_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION
          - PSC_DELETING_A_FLEXIBLE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_ENDPOINT_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION
          - PSC_DELETING_AN_ACTIVE_ACTIVE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_ENDPOINT_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION
          - PSC_UPDATE_ENDPOINT_REQUEST_ACTION_INVALID_VALUE
          - PSC_UPDATE_ENDPOINT_REQUEST_CANNOT_HAVE_BOTH_ACTION_AND_OTHER_FIELDS
          - PSC_UPDATE_ENDPOINT_REQUEST_CANNOT_UPDATE_INITIALIZED_ENDPOINT
          - PSC_SERVICE_NOT_FOUND
          - PSC_ENDPOINT_NOT_FOUND
          - PSC_ENDPOINT_NOT_ACTIVE
          - PSC_ENDPOINT_NOT_CREATED_OR_DELETED
          - PSC_ENDPOINT_CANNOT_BE_DELETED_WITHOUT_DELETION_SCRIPT
          - PSC_SERVICE_CANNOT_DELETE_SERVICE_WITH_ACTIVE_ENDPOINTS
          - PSC_SERVICE_NOT_ACTIVE
          - PSC_ENDPOINT_SCRIPT_FAILED_TO_PARSE
          - CIDR_WHITELIST_GENERAL_ERROR
          - CIDR_WHITELIST_INVALID_CIDRS
          - CIDR_WHITELIST_INVALID_SG
          - CIDR_WHITELIST_LIMIT_EXCEEDED
          - CIDR_WHITELIST_DUPLICATE_CIDRS
          - CIDR_WHITELIST_DUPLICATE_SG
          - CIDR_WHITELIST_NOT_ALLOWED
          - CLIENT_PUBLIC_ACCESS_INVALID_SOURCE_IPS
          - CLIENT_PUBLIC_ACCESS_NOT_SUPPORTED
          - CLIENT_PUBLIC_ACCESS_ALREADY_SET
          - CLIENT_PUBLIC_ACCESS_ON_NON_HOSTED
          - AWS_ERROR_INSTANCE_LIMIT_EXCEEDED
          - AWS_ERROR_VPC_LIMIT_EXCEEDED
          - AWS_ERROR_INSUFFICIENT_INSTANCE_CAPACITY
          - AWS_ERROR_VOLUME_LIMIT_EXCEEDED
          - AWS_ERROR_MISMATCHING_CIDR
          - AWS_ERROR_CONFLICTING_CIDR
          - AWS_ERROR_VPC_DOES_NOT_EXIST
          - AWS_ERROR_EXISTING_VPC_EQUAL_TO_REQUESTED
          - PAYMENT_INFO_NOT_PROVIDED
          - PAYMENT_INFO_EXPIRED
          - PAYMENT_INFO_NOT_ALLOWED_IN_GCP_ACCOUNT
          - CLOUD_PROVIDER_IS_NOT_GCP_IN_GCP_ACCOUNT
          - PAYMENT_INFO_NOT_ALLOWED_IN_CONTRACT_ASSOCIATED_ACCOUNT
          - PAYMENT_INFO_CHANGE_PROHIBITED_FOR_PRO_UNDER_CONTRACT
          - LOCAL_THROUGHPUT_READ_AND_WRITE_OPERATIONS_PER_SECOND_VALUES_MUST_BE_IN_INCREMENTS_OF_500_OR_MINIMUM
          - MISSING_REGIONS_BETWEEN_CLOUD_PROVIDERS_AND_DATABASES_LOCAL_THROUGHPUT_MEASUREMENTS
          - MISSING_REGIONS_BETWEEN_LOCAL_THROUGHPUT_MEASUREMENTS_AND_SUBSCRIPTION_REGIONS
          - CRDB_ACTIVE_ACTIVE_MISSING_LOCAL_THROUGHPUT_MEASUREMENT
          - CRDB_ACTIVE_ACTIVE_REGIONS_MUST_BE_DEFINED_ONCE
          - ACTIVE_ACTIVE_CREATE_A_REGION_MUST_CONTAIN_DATABASE_SPEC_TO_ALL_CRDBS_IN_SUBSCRIPTION
          - ACTIVE_ACTIVE_CREATE_A_REGION_MUST_CONTAIN_LOCAL_THROUGHPUT_MEASUREMENT_IN_DATABASE_SPEC
          - ACTIVE_ACTIVE_CREATE_A_REGION_MUST_BE_DEFINED_ONCE_PER_DATABASE
          - ACTIVE_ACTIVE_CREATE_A_REGION_DATABASE_RESP_VERSION_IS_NOT_SUPPORTED
          - TOO_MANY_LOCAL_THROUGHPUT_MEASUREMENTS_DEFINED_FOR_SPECIFIED_ACTIVE_ACTIVE_SUBSCRIPTION
          - ACTIVE_ACTIVE_RAM_AND_FLASH_MEMORY_STORAGE_NOT_SUPPORTED
          - ACTIVE_ACTIVE_DATABASE_MODULE_IS_NOT_SUPPORTED
          - ACTIVE_ACTIVE_DATABASE_MODULES_IS_NOT_SUPPORTED
          - ACTIVE_ACTIVE_FOR_GCP_ACCOUNT_IS_NOT_SUPPORTED
          - ACTIVE_ACTIVE_DATABASE_ALERT_NOT_SUPPORTED
          - FLEXIBLE_DATABASE_ALERT_NOT_SUPPORTED
          - ACTIVE_ACTIVE_DATABASE_REPLICA_OF_NOT_SUPPORTED
          - ACTIVE_ACTIVE_DATABASE_PERIODIC_BACK_UP_PATH_NOT_ALLOWED
          - ACTIVE_ACTIVE_CHANGE_REQUEST_PLANNING_FAILED
          - ACTIVE_ACTIVE_CHANGE_REQUEST_PLANNING_EXPIRED
          - ACTIVE_ACTIVE_MISSING_LOCAL_THROUGHPUT_MEASUREMENT
          - ACTIVE_ACTIVE_BACKUP_MISSING_REGION_NAME
          - ACTIVE_ACTIVE_BACKUP_STATUS_MISSING_REGION_NAME
          - ACTIVE_ACTIVE_DATABASE_INVALID_CIDR_FORMAT
          - ACTIVE_ACTIVE_DATABASE_INVALID_CIDR_OVERLAPPING_OTHER_REGIONS
          - ACTIVE_ACTIVE_DATABASE_REPLICATION_CANNOT_BE_FALSE
          - ACTIVE_ACTIVE_REGIONS_MUST_BE_DEFINED_ONCE
          - ACTIVE_ACTIVE_SUBSCRIPTION_WITHOUT_REGIONS_IS_NOT_ALLOWED
          - ACTIVE_ACTIVE_DATABASE_MEMCACHED_PROTOCOL_IS_NOT_ALLOWED
          - ACTIVE_ACTIVE_DATABASE_SHARDING_MUST_BE_ENABLED
          - ACTIVE_ACTIVE_DATABASE_MISSING_DATABASE_CONFIGURATION
          - ACTIVE_ACTIVE_DATABASE_INVALID_THROUGHPUT
          - ACTIVE_ACTIVE_MISMATCH_BETWEEN_REQUEST_REGIONS_AND_SUBSCRIPTION_REGIONS
          - ACTIVE_ACTIVE_INVALID_UPDATE_DATABASE_NAME
          - ACTIVE_ACTIVE_INVALID_CREATE_REGION_NAME
          - ACTIVE_ACTIVE_INVALID_DELETE_REGION_NAME
          - ACTIVE_ACTIVE_INVALID_BACKUP_REGION_NAME
          - ACTIVE_ACTIVE_INVALID_BACKUP_STATUS_REGION_NAME
          - ACTIVE_ACTIVE_DELETE_REGIONS_MUST_BE_DEFINED_ONCE
          - ACTIVE_ACTIVE_DELETE_SUBSCRIPTION_MUST_BE_DEPLOYED_IN_AT_LEAST_ONE_REGION
          - ACTIVE_ACTIVE_REQUEST_GENERAL_ERROR
          - ACTIVE_ACTIVE_VPC_PEERING_INVALID_SOURCE_REGION_NAME
          - ACTIVE_ACTIVE_VPC_PEERING_INVALID_AWS_ACCOUNT
          - ACTIVE_ACTIVE_DATABASE_RESP_VERSION_IS_NOT_SUPPORTED
          - ACTIVE_ACTIVE_DATABASE_PREVIEW_REDIS_VERSION_IS_NOT_SUPPORTED
          - ACTIVE_ACTIVE_DATABASE_UPGRADE_IS_NOT_SUPPORTED
          - LOCAL_THROUGHPUT_MEASUREMENT_NOT_ALLOWED_WITH_SINGLE_REGION_SUBSCRIPTION
          - BACKUP_REGION_NAME_IS_NOT_ALLOWED_WITH_SINGLE_REGION_SUBSCRIPTION
          - BACKUP_STATUS_REGION_NAME_IS_NOT_ALLOWED_WITH_SINGLE_REGION_SUBSCRIPTION
          - UPDATING_LOCAL_PROPERTIES_NOT_ALLOWED_WITH_SINGLE_REGION_SUBSCRIPTION
          - DISABLING_THE_DEFAULT_USER_AND_UPDATING_A_NEW_PASSWORD_IS_NOT_ALLOWED
          - NOT_ALLOWED_TO_UPDATE_A_DATABASE_PASSWORD_WHEN_DEFAULT_USER_IS_DISABLED
          - UPDATING_SINGLE_REGION_DATABASE_NOT_ALLOWED_WITH_ACTIVE_ACTIVE_SUBSCRIPTION
          - GETTING_ACTIVE_ACTIVE_SUBSCRIPTION_VPC_PEERINGS_IS_NOT_ALLOWED_WITH_SINGLE_REGION_SUBSCRIPTION
          - UPDATING_SINGLE_REGION_CIDR_WHITE_LIST_IS_NOT_ALLOWED_WITH_ACTIVE_ACTIVE_SUBSCRIPTION
          - GETTING_SINGLE_REGION_CIDR_WHITE_LIST_IS_NOT_ALLOWED_WITH_ACTIVE_ACTIVE_SUBSCRIPTION
          - ADDING_REGION_IS_NOT_ALLOWED_WITH_SINGLE_REGION_SUBSCRIPTION
          - DELETING_REGION_IS_NOT_ALLOWED_WITH_SINGLE_REGION_SUBSCRIPTION
          - SINGLE_REGION_SUBSCRIPTION_MUST_DEFINE_ONLY_ONE_REGION
          - CREATING_A_SINGLE_REGION_VPC_PEERING_IS_NOT_ALLOWED_WITH_ACTIVE_ACTIVE_SUBSCRIPTION
          - UPDATING_A_SINGLE_REGION_VPC_PEERING_IS_NOT_ALLOWED_WITH_ACTIVE_ACTIVE_SUBSCRIPTION
          - DELETING_SINGLE_REGION_VPC_PEERING_IS_NOT_ALLOWED_WITH_ACTIVE_ACTIVE_SUBSCRIPTION
          - GETTING_SINGLE_REGION_VPC_PEERINGS_IS_NOT_ALLOWED_WITH_ACTIVE_ACTIVE_SUBSCRIPTION
          - ACTIVE_ACTIVE_DATABASE_LIMIT_EXCEEDED
          - ACTIVE_ACTIVE_REGION_LIMIT_REACHED
          - FIXED_DATABASE_NAME_IS_MISSING
          - CREATING_FIXED_DATABASE_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION
          - UPDATING_FIXED_DATABASE_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION
          - DELETING_FIXED_DATABASE_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION
          - FIXED_DATABASE_MEMORY_LIMIT_IN_GB_AND_DATA_SET_SIZE_SUPPORTED_ONLY_FOR_PAY_AS_YOU_GO
          - FIXED_DATABASE_FIXED_SUBSCRIPTION_REACHED_MAX_DATABASES_COUNT
          - FIXED_DATABASE_SOURCE_IPS_LIST_IS_GREATER_THAN_PLAN_MAX_COUNT_ALLOWED_SOURCE_IPS
          - FIXED_DATABASE_ENABLE_DATABASE_CLUSTERING_SUPPORTED_ONLY_FOR_PAY_AS_YOU_GO
          - FIXED_DATABASE_ENABLE_DATABASE_CLUSTERING_WITH_REDIS_SEARCH_OR_GRAPH_MODULES_IS_NOT_ALLOWED
          - FIXED_DATABASE_PAYG_MEMORY_LIMIT_IN_GB_IS_MISSING
          - FIXED_DATABASE_PAYG_MEMORY_LIMIT_IN_GB_OR_DATA_SET_SIZE_IN_GB_IS_MISSING
          - FIXED_DATABASE_ALERT_NOT_SUPPORTED
          - PAY_AS_YOU_GO_DATABASE_ALERT_NOT_SUPPORTED
          - FIXED_DATABASE_REPLICA_OF_MEMCACHED_IS_NOT_SUPPORTED
          - FIXED_DATABASE_STACK_PROTOCOL_CONTAINS_MODULES
          - FIXED_DATABASE_STACK_PROTOCOL_IS_NOT_SUPPORTED_IN_SELECTED_PLAN_OR_CLUSTER
          - FIXED_DATABASE_REDIS_PROTOCOL_IS_NOT_SUPPORTED_IN_SELECTED_PLAN
          - FIXED_DATABASE_REPLICATION_IS_NOT_SUPPORTED_IN_REQUESTED_PLAN
          - FIXED_DATABASE_OSS_CLUSTER_API_IS_NOT_SUPPORTED_IN_REQUESTED_PLAN
          - FIXED_DATABASE_USE_EXTERNAL_ENDPOINT_FOR_OSS_CLUSTER_API_NOT_SUPPORTED_IN_REQUESTED_PLAN
          - FIXED_DATABASE_REGEX_RULES_NOT_SUPPORTED_IN_REQUESTED_PLAN
          - FIXED_DATABASE_ENABLE_TLS_NOT_SUPPORTED_IN_REQUESTED_PLAN
          - FIXED_DATABASE_CLIENT_SSL_CERTIFICATE_NOT_SUPPORTED_IN_REQUESTED_PLAN
          - FIXED_DATABASE_REPLICA_OF_NOT_SUPPORTED_IN_REQUESTED_PLAN
          - FIXED_DATABASE_CLUSTER_DOES_NOT_SUPPORT_DATA_PERSISTENCE
          - FIXED_DATABASE_NO_EVICTION_IS_NOT_SUPPORTED_BY_CLUSTER
          - FIXED_DATABASE_DATA_EVICTION_POLICY_IS_NOT_SUPPORTED_BY_CLUSTER
          - FIXED_DATABASE_DATA_EVICTION_POLICY_IS_NOT_SUPPORTED_BY_SELECTED_MODULES
          - FIXED_DATABASE_EVICTION_POLICY_NOT_COMPATIBLE_WITH_REDIS_VERSION
          - DATABASE_EVICTION_POLICY_NOT_COMPATIBLE_WITH_REDIS_VERSION
          - DATABASE_EVICTION_POLICY_NOT_COMPATIBLE_WITH_REDIS_FLEX
          - FIXED_DATABASE_EVICTION_POLICY_NOT_COMPATIBLE_WITH_REDIS_FLEX
          - FIXED_DATABASE_REPLICA_OF_IS_NOT_SUPPORTED_BY_SELECTED_MODULES
          - FIXED_DATABASE_DATA_PERSISTENCE_VALUE_NOT_SUPPORTED_FOR_FIXED
          - FIXED_DATABASE_DATA_EVICTION_POLICY_IS_NOT_SUPPORTED_BY_ALL_MODULES_IN_SELECTED_PLAN_OR_CLUSTER
          - FIXED_DATABASE_RESP_VERSION_IS_NOT_SUPPORTED
          - FIXED_DATABASE_REDIS_FLEX_IS_NOT_SUPPORTED
          - FIXED_DATABASE_STACK_PROTOCOL_IS_NOT_SUPPORTED_FOR_REDIS_FLEX
          - FIXED_DATABASE_MEMCACHED_PROTOCOL_IS_NOT_SUPPORTED_FOR_REDIS_FLEX
          - FIXED_DATABASE_MEMCACHED_PROTOCOL_IS_NOT_SUPPORTED_FOR_FREE_PLAN
          - FIXED_DATABASE_NUMBER_OF_SHARDS_IS_NOT_SUPPORTED_FOR_THIS_ACCOUNT
          - FIXED_DATABASE_NUMBER_OF_SHARDS_REQUIRES_DATABASE_CLUSTERING_ENABLED
          - FIXED_DATABASE_NUMBER_OF_SHARDS_INVALID_VALUE
          - PAYMENT_INFO_NOT_ALLOWED_WHEN_ACCOUNT_POC_ACTIVE
          - FIXED_DATABASE_NUMBER_OF_SHARDS_SUPPORTED_ONLY_FOR_PAY_AS_YOU_GO
          - FIXED_DATABASE_NUMBER_OF_SHARDS_NOT_A_MULTIPLE_OF_CURRENT_VALUE
          - VPC_ID_NOT_ALLOWED_WITH_INTERNAL_CLOUD_ACCOUNT
          - SUBNET_ID_NOT_ALLOWED_WITH_INTERNAL_CLOUD_ACCOUNT
          - SECURITY_GROUP_ID_NOT_ALLOWED_WITH_INTERNAL_CLOUD_ACCOUNT
          - CLIENT_SSL_CERTIFICATE_IS_NOT_ALLOWED_WITHOUT_ENABLE_TLS_IS_TRUE
          - MARKETPLACE_PAYMENT_INFO_COLLISION
          - ACCOUNT_MARKETPLACE_IS_NOT_ACTIVE
          - ACCOUNT_MARKETPLACE_NOT_FOUND
          - ACCOUNT_MARKETPLACE_NOT_SUPPORT_NON_HOSTED_ACCOUNTS
          - PAYMENT_INVALID_CARD_NUMBER
          - PAYMENT_INVALID_CCV
          - PAYMENT_INVALID_CARD_TYPE
          - PAYMENT_CVV_MISSING
          - PAYMENT_GENERAL_ERROR
          - PAYMENT_HOLD_FAILED
          - ACL_USER_NAME_ALREADY_EXISTS
          - ACL_USER_NAME_NOT_VALID
          - ACL_USER_NOT_FOUND
          - ACL_USER_NAME_IS_MISSING
          - ACL_ROLE_NAME_IS_MISSING
          - ACL_ROLE_REDIS_RULE_MUST_BE_DEFINED_ONLY_ONCE_PER_DATABASE
          - ACL_ROLE_REDIS_RULE_ALREADY_EXISTS_FOR_REQUESTED_RESOURCE
          - ACL_ROLE_REDIS_RULES_IS_MISSING
          - ACL_ROLE_REDIS_RULES_DATABASES_SPEC_IS_MISSING
          - ACL_ROLE_REDIS_RULES_DATABASES_DATABASE_ID_IS_MISSING
          - ACL_ROLE_REDIS_RULES_DATABASES_SUBSCRIPTION_ID_IS_MISSING
          - ACL_ROLE_REDIS_RULES_DATABASES_REGIONS_IS_MISSING
          - ACL_ROLE_REDIS_RULES_DATABASES_REGION_MUST_BE_CRDB
          - ACL_ROLE_REDIS_RULES_DATABASES_REGION_NOT_IN_PLAN
          - ACL_ROLE_REDIS_RULES_DATABASES_REGION_NOT_UNIQUE
          - ACL_ROLE_REDIS_RULES_DATABASES_REGION_IS_NOT_BELONGS_TO_DATABASE
          - ACL_ROLE_NAME_NOT_VALID
          - ACL_ROLE_DOES_NOT_EXISTS
          - ACL_USER_PASSWORD_NOT_VALID
          - ACL_USER_PASSWORD_IS_MISSING
          - ACL_USER_CREATION_FAILURE
          - ACL_REDIS_RULE_NAME_IS_MISSING
          - ACL_REDIS_RULE_NAME_ALREADY_EXISTS
          - ACL_REDIS_RULE_NAME_NOT_VALID
          - ACL_REDIS_RULE_NAME_NOT_IN_RANGE
          - ACL_REDIS_RULE_PATTERN_IS_MISSING
          - ACL_REDIS_RULE_PATTERN_NOT_VALID
          - ACL_REDIS_RULE_INVALID_PUBSUB_PATTERN
          - ACL_REDIS_RULE_ACCOUNT_NOT_SUPPORT_PUBSUB_PATTERN
          - ACL_REDIS_RULE_ALLCHANNELS_BEFORE_SPECIFIC_CHANNEL
          - ACL_REDIS_RULE_INVALID_CATEGORY_RULE_PATTERN
          - ACL_REDIS_RULE_INVALID_KEYSPACE_RULE_PATTERN
          - ACL_REDIS_RULE_INVALID_COMMAND_OR_MODULE_COMMAND_RULE_PATTERN
          - ACL_REDIS_RULE_ALLKEYS_BEFORE_SPECIFIC_KEY
          - ACL_REDIS_RULE_CREATION_FAILURE
          - ACL_REDIS_RULE_NOT_FOUND
          - ACL_REDIS_RULE_CANNOT_UPDATE_DEFAULT
          - ACL_REDIS_RULE_CANNOT_DELETE_DEFAULT
          - ACL_REDIS_RULE_CANNOT_DELETE_WHEN_ASSOCIATED_WITH_ROLES
          - ACL_REDIS_RULE_NOT_ACTIVE
          - ACL_GENERAL_ERROR
          - ACL_ROLE_NAME_ALREADY_EXISTS
          - ACL_ROLE_HAS_ACTIVE_USERS_AND_CANNOT_BE_DELETED
          - ACL_ROLE_IS_IN_PENDING_STATUS_AND_CANNOT_BE_DELETED
          - ACL_ROLE_IS_IN_PENDING_STATUS_AND_CANNOT_BE_UPDATED
          - ACL_ROLE_NOT_FOUND
          - ACL_ROLE_ID_IS_MISSING
          - ACL_REDIS_RULE_DOES_NOT_EXISTS
          - ACL_REDIS_RULE_INVALID_KEY_PERMISSION_PATTERN
          - ACL_REDIS_RULE_INVALID_SELECTORS_PATTERN
          - BDB_IS_NOT_IN_CORRECT_VERSION_FOR_GIVEN_ACL_VERSION
          - USER_NOT_FOUND
          - USER_INSUFFICIENT_ROLE
          - USER_NAME_IS_INVALID
          - USER_CANNOT_UPDATE_IT_IS_OWN_ROLE
          - USER_WITHOUT_OWNER_PERMISSION_CANNOT_UPDATE_USERS
          - USER_WITHOUT_OWNER_PERMISSION_CANNOT_PERFORM_ACTIONS_ON_USERS
          - USER_CANNOT_BE_UPDATED_OR_DELETED_BEFORE_VERIFICATION
          - USER_ROLE_DOES_NOT_EXISTS
          - USER_ROLE_IS_MISSING
          - USER_CANNOT_DELETE_OWN_USER
          - ENTITY_NOT_FOUND
          - FIXED_SUBSCRIPTION_CREATE_PLAN_NOT_FOUND
          - FIXED_SUBSCRIPTION_UPDATE_INVALID_PLAN
          - FIXED_SUBSCRIPTION_PLAN_NOT_PROVIDED
          - FIXED_SUBSCRIPTION_ACCOUNT_ALREADY_HAS_A_FREE_PLAN
          - FIXED_MISMATCH_BETWEEN_REQUEST_PLAN_CLOUD_PROVIDER_AND_SUBSCRIPTION_CLOUD_PROVIDER
          - FIXED_MISMATCH_BETWEEN_REQUEST_PLAN_REGION_AND_SUBSCRIPTION_REGION
          - FIXED_SUBSCRIPTION_PLAN_MAX_DATABASES_SMALLER_THEN_CURRENT_SUBSCRIPTION_DATABASES_COUNT
          - FIXED_SUBSCRIPTION_PLAN_SIZE_SMALLER_THEN_CURRENT_SUBSCRIPTION_USAGE
          - FIXED_SUBSCRIPTION_PLAN_NOT_SUPPORT_REPLICA_OF
          - FIXED_SUBSCRIPTION_PLAN_DATABASES_ARE_RESTRICTED_TO_A_SINGLE_CLUSTER
          - FIXED_SUBSCRIPTION_PLAN_NOT_SUPPORT_TLS
          - FIXED_SUBSCRIPTION_PLAN_CANNOT_CHANGED_FROM_AVAILABILITY_OF_SINGLE_ZONE_OR_NO_REPLICATION_TO_MULTI_ZONE
          - FIXED_SUBSCRIPTION_PLAN_CANNOT_CHANGED_FROM_AVAILABILITY_OF_MULTI_ZONE_TO_SINGLE_ZONE_OR_NO_REPLICATION
          - FIXED_SUBSCRIPTION_PLAN_MAX_SOURCE_IPS_IS_SMALLER_THEN_ONE_OF_EXISTING_DATABSE_SOURCE_IPS
          - FIXED_SUBSCRIPTION_INVALID_NAME
          - FIXED_SUBSCRIPTION_NAME_NOT_PROVIDED
          - REDIS_FLEX_PLAN_CANNOT_BE_UPDATED_TO_NON_REDIS_FLEX
          - NON_REDIS_FLEX_PLAN_CANNOT_BE_UPDATED_TO_REDIS_FLEX_PLAN
          - DELETING_A_FIXED_SUBSCRIPTION_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION
          - UPDATING_A_FIXED_SUBSCRIPTION_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION
          - UPDATING_A_FIXED_SUBSCRIPTION_PLAN_IS_NOT_ALLOWED_WHILE_THE_SUBSCRIPTION_OR_BDB_IS_PENDING
          - FIXED_PAYMENT_INFO_NOT_ALLOWED_IN_FREE_FIXED_PLAN
          - FREE_PLAN_IS_ALLOWED_ONLY_FOR_ACCOUNTS_WITH_VALID_PAYMENT_INFO
          - BACKUP_A_FIXED_DATABASE_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION
          - IMPORT_A_FIXED_DATABASE_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION
          - TOO_MANY_PENDING_SUBSCRIPTIONS
          - BAD_REQUEST
          - GENERAL_ERROR
          - CONFLICT_ERROR
          - UNKNOWN_STATUS
          - CRDB_FLUSH_FAILURE
          - CRDB_FLUSH_ACTION_NOT_ALLOWED_WITH_SINGLE_REGION_SUBSCRIPTION
          - DATABASE_NAME_CHANGE_NOT_SUPPORTED
          - DATABASE_INVALID_LOCATION_BACKUP
          - DATABASE_GENERAL_ERROR_BACKUP
          - CLUSTER_COMMUNICATION_ERROR
          - MAINTENANCE_WINDOW_INVALID_MAINTENANCE_WINDOW_SPEC_PROVIDED
          - MAINTENANCE_WINDOW_INVALID_MAINTENANCE_WINDOW_MODE_PROVIDED
          - MAINTENANCE_WINDOW_MANUAL_MODE_WITH_NO_MAINTENANCE_WINDOWS
          - MAINTENANCE_WINDOW_AUTOMATIC_MODE_WITH_MAINTENANCE_WINDOWS
          - MAINTENANCE_WINDOW_GREATER_THAN_MAXIMUM_ALLOWABLE_MAINTENANCE_WINDOWS_PROVIDED
          - MAINTENANCE_WINDOW_INVALID_START_HOUR
          - MAINTENANCE_WINDOW_INVALID_DURATION_IN_HOURS
          - MAINTENANCE_WINDOW_INVALID_DAYS
          - MAINTENANCE_WINDOW_DUPLICATE_DAYS
          - MAINTENANCE_WINDOW_INVALID_DURATION_FOR_ROF_SUBSCRIPTION
          - MAINTENANCE_WINDOW_UNKNOWN_MEMORY_STORAGE_TYPE
          - DATABASE_UPGRADE_IS_ALREADY_RUNNING
          - DATABASE_CLUSTER_IS_IN_MAINTENANCE
          - DATABASE_IS_NOT_ACTIVE
          - DATABASE_UPGRADE_WORKFLOW_NOT_FOUND
          - DATABASE_UPGRADE_INVALID_REDIS_VERSION
          - DATABASE_UPGRADE_OF_MEMCACHED_IS_NOT_SUPPORTED
          - DATABASE_REPLICA_OF_INCOMPATIBLE_VERSION
          - DATABASE_UPGRADE_FAILED
          - DATABASE_INVALID_PLAN_TYPE
          - DATABASE_UPGRADE_IS_NOT_SUPPORTED
          - ACTIVE_ACTIVE_EXTERNAL_ACCOUNTS_NOT_SUPPORTED
          - ACTIVE_ACTIVE_MULTIPLE_CLOUD_ACCOUNTS_NOT_SUPPORTED
          - ACTIVE_ACTIVE_GCP_EXTERNAL_CLOUD_ACCOUNT_NOT_SUPPORTED
          - DB_ENDPOINTS_SERVICE_NOT_FOUND
          - ENDPOINTS_REDIRECTION_NOT_FOUND
          - DATABASE_TRAFFIC_STATE_NOT_FOUND
          - ENDPOINTS_REDIRECTION_SOURCE_HAS_NO_ENDPOINTS
          - ENDPOINTS_REDIRECTION_TARGET_HAS_NO_ENDPOINTS
          - ENDPOINTS_REDIRECTION_ALREADY_EXISTS
          - DATABASE_IN_ACTIVE_ENDPOINTS_REDIRECTION
          - ENDPOINTS_REDIRECTION_NOT_LATEST
          - ENDPOINTS_REDIRECTION_NOT_COMPLETED
          - ENDPOINTS_REDIRECTION_INVALID_ENDPOINT_TYPE
          - ENDPOINTS_REDIRECTION_DATABASES_NOT_COMPATIBLE
          - ENDPOINTS_REDIRECTION_DATABASE_STATE_NOT_SUPPORTED
          - ENDPOINTS_REDIRECTION_CONNECTIVITY_MISMATCH
          - ENDPOINTS_REDIRECTION_REVERT_WINDOW_EXCEEDED
          - ENDPOINTS_REDIRECTION_ACCOUNT_MISMATCH
          - ENDPOINTS_REDIRECTION_DNS_SERVICE_NOT_AVAILABLE
          - DATABASE_TRAFFIC_RESUME_IN_PROGRESS
          - DATABASE_TRAFFIC_NOT_STOPPED
          - DATABASE_TRAFFIC_RESUME_NOT_ELIGIBLE
          - DEDICATED_SUBSCRIPTION_PREFERRED_AZ_INVALID_VALUE
          - DEDICATED_SUBSCRIPTION_INVALID_INSTANCE_NAME
          - DEDICATED_SUBSCRIPTION_INVALID_REPLICATION
          - PRIVATE_LINK_NOT_FOUND
          - PRIVATE_LINK_ALREADY_EXISTS
          - PRIVATE_LINK_PRINCIPAL_ALREADY_EXISTS
          - PRIVATE_LINK_PRINCIPAL_NOT_FOUND
          - PRIVATE_LINK_PRINCIPAL_INVALID_PRINCIPLE
          - PRIVATE_LINK_PRINCIPAL_CANNOT_BE_OWNER_ACCOUNT
          - PRIVATE_LINK_CLOUD_PROVIDER_NOT_SUPPORTED
          - PRIVATE_LINK_GET_A_FLEXIBLE_SUBSCRIPTION_PRIVATE_LINK_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION
          - PRIVATE_LINK_GET_AN_ACTIVE_ACTIVE_SUBSCRIPTION_PRIVATE_LINK_IS_NOT_ALLOWED_WITH_A_SINGLE_REGION_SUBSCRIPTION
          - PRIVATE_LINK_CREATING_PRINCIPLES_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION
          - PRIVATE_LINK_CREATING_PRINCIPLES_IS_NOT_ALLOWED_WITH_A_SINGLE_REGION_SUBSCRIPTION
          - PRIVATE_LINK_DELETING_A_FLEXIBLE_SUBSCRIPTION_PRINCIPALS_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION
          - PRIVATE_LINK_DELETING_AN_ACTIVE_ACTIVE_SUBSCRIPTION_PRINCIPALS_IS_NOT_ALLOWED_WITH_A_SINGLE_REGION_SUBSCRIPTION
          - PRIVATE_LINK_CREATE_A_FLEXIBLE_SUBSCRIPTION_PRIVATE_LINK_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION
          - PRIVATE_LINK_CREATE_AN_ACTIVE_ACTIVE_SUBSCRIPTION_PRIVATE_LINK_IS_NOT_ALLOWED_WITH_A_SINGLE_REGION_SUBSCRIPTION
          - PRIVATE_LINK_DELETING_A_FLEXIBLE_SUBSCRIPTION_PRIVATE_LINK_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION
          - PRIVATE_LINK_DELETING_AN_ACTIVE_ACTIVE_SUBSCRIPTION_PRIVATE_LINK_IS_NOT_ALLOWED_WITH_A_SINGLE_REGION_SUBSCRIPTION
          - PRIVATE_LINK_IS_NOT_SUPPORTED
          - PRIVATE_LINK_SERVICE_ERROR
          - PRIVATE_LINK_SUBSCRIPTION_REACHED_MAX_DATABASES_COUNT
          - PRIVATE_LINK_ALL_PRINCIPALS_MUST_BE_DELETED_BEFORE_DELETING_RESOURCE_LINK
          - PRIVATE_LINK_DISASSOCIATE_CONNECTIONS_A_FLEXIBLE_SUBSCRIPTION_PRIVATE_LINK_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION
          - PRIVATE_LINK_DISASSOCIATE_CONNECTIONS_AN_ACTIVE_ACTIVE_SUBSCRIPTION_PRIVATE_LINK_IS_NOT_ALLOWED_WITH_A_SINGLE_REGION_SUBSCRIPTION
          - COST_REPORT_IS_NOT_SUPPORTED
          - COST_REPORT_START_DATE_IS_MISSING
          - COST_REPORT_END_DATE_IS_MISSING
          - COST_REPORT_INVALID_DATE_FORMAT
          - COST_REPORT_END_DATE_BEFORE_START_DATE
          - COST_REPORT_DATE_RANGE_EXCEEDS_LIMIT
          - COST_REPORT_TAG_KEY_EMPTY
          - COST_REPORT_TAG_VALUE_EMPTY
          - COST_REPORT_FUTURE_DATES_NOT_ALLOWED
          - AGENT_MEMORY_IS_DISABLED
          - AGENT_MEMORY_STORE_INVALID_REQUEST
          - AGENT_MEMORY_STORE_NOT_FOUND
          - AGENT_MEMORY_STORE_FORBIDDEN
          - AGENT_MEMORY_STORE_DEPENDENCY_FAILED
        additionalInfo:
          type: string
    Module:
      type: object
      properties:
        name:
          type: string
        capabilityName:
          type: string
        description:
          type: string
      description: RedisLabs database module information
    AccountSystemLogEntries:
      type: object
      properties:
        entries:
          type: array
          items:
            $ref: '#/components/schemas/AccountSystemLogEntry'
        links:
          type: array
          items:
            type: object
            additionalProperties:
              type: string
      example:
        entries:
        - id: 2900349
          time: '2022-10-12T10:54:31Z'
          originator: example-value
          type: Account
          description: example-value (example.value@redis.com)'s user name was changed to Example Value
        - id: 2900348
          time: '2022-10-12T10:54:11Z'
          originator: invalid-name
          type: Account
          description: Invited invalid-name (cab@fufu.com) to join team
    Tag:
      required:
      - key
      - value
      type: object
      properties:
        key:
          type: string
          description: Tag key
          example: environment
        value:
          type: string
          description: Tag value
          example: production
      description: Tag filter for cost report
    TaskStateUpdate:
      type: object
      properties:
        taskId:
          type: string
          format: uuid
        commandType:
          type: string
        status:
          type: string
          enum:
          - initialized
          - received
          - processing-in-progress
          - processing-completed
          - processing-error
        description:
          type: string
        timestamp:
          type: string
          format: date-time
        response:
          $ref: '#/components/schemas/ProcessorResponse'
        links:
          type: array
          items:
            type: object
            additionalProperties:
              type: string
    SearchScalingFactorsData:
      type: object
      properties:
        queryPerformanceFactors:
          type: array
          items:
            type: string
        links:
          type: array
          items:
            type: object
            additionalProperties:
              type: string
    DataPersistenceOptions:
      type: object
      properties:
        dataPersistence:
          type: array
          items:
            $ref: '#/components/schemas/DataPersistenceEntry'
        links:
          type: array
          items:
            type: object
            additionalProperties:
              type: string
      example:
        dataPersistence:
        - name: none
          description: None
        - name: aof-every-1-second
          description: Append only file (AOF) - fsync every 1 second
        - name: aof-every-write
          description: Append only file (AOF) - fsync every write
        - name: snapshot-every-1-hour
          description: Snapshot every 1 hour
        - name: snapshot-every-6-hours
          description: Snapshot every 6 hour
        - name: snapshot-every-12-hours
          description: Snapshot every 12 hour
        links:
        - rel: self
          href: https://api-cloudapi.qa.redislabs.com/v1/data-persistence
          type: GET
    DataPersistenceEntry:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
      description: RedisLabs data persistence information
    PaymentMethods:
      type: object
      properties:
        accountId:
          type: integer
          format: int32
        links:
          type: array
          items:
            type: object
            additionalProperties:
              type: string
      description: RedisLabs Account payment methods
      example:
        accountId: 1001
        paymentMethods:
        - id: 2
          type: Visa
          creditCardEndsWith: '9349'
          nameOnCard: CAPI User
          expirationMonth: 2
          expirationYear: 2026
          links: []
    ModulesData:
      type: object
      properties:
        modules:
          type: array
          items:
            $ref: '#/components/schemas/Module'
        links:
          type: array
          items:
            type: object
            additionalProperties:
              type: string
      example:
        modules:
        - name: RedisBloom
          capabilityName: Probabilistic
          description: A set of probabilistic data structures to Redis, including Bloom filter, Cuckoo filter, Count-min sketch, Top-K, and t-digest
          parameters: []
        - name: RedisJSON
          capabilityName: JSON
          description: Native JSON Data Type for Redis, allowing for atomic reads and writes of sub-elements
          parameters: []
        - name: RediSearch
          capabilityName: Search and query
          description: A comprehensive, expressive, flexible, fast and developer-friendly search and query engine for the diversity of data types in Redis with state-of-the-art scoring algorithms
          parameters:
          - name: number-of-documents
            description: Expected number of documents the database module will be indexing
            type: integer
            defaultValue: 1000000
            required: false
        - name: RedisTimeSeries
          capabilityName: Time series
          description: Time-Series data structure for redis
          parameters: []
    Regions:
      type: object
      properties:
        regions:
          type: array
          items:
            $ref: '#/components/schemas/Region'
        links:
          type: array
          items:
            type: object
            additionalProperties:
              type: string
      example:
        regions:
        - id: 1
          name: us-east-1
          provider: AWS
        - id: 2
          name: us-west-1
          provider: AWS
        - id: 3
          name: us-west-2
          provider: AWS
        - id: 4
          name: eu-west-1
          provider: AWS
        - id: 29
          name: eu-central-1
          provider: AWS
        - id: 7
          name: sa-east-1
          provider: AWS
        - id: 63
          name: ca-central-1
          provider: AWS
        - id: 62
          name: eu-north-1
          provider: AWS
        - id: 61
          name: eu-west-3
          provider: AWS
        - id: 60
          name: eu-west-2
          provider: AWS
        - id: 59
          name: us-east-2
          provider: AWS
        - id: 64
          name: ap-east-1
          provider: AWS
        - id: 146
          name: ap-southeast-5
          provider: AWS
        - id: 30
          name: ap-south-1
          provider: AWS
        - id: 117
          name: ap-northeast-3
          provider: AWS
        - id: 116
          name: ap-northeast-2
          provider: AWS
        - id: 145
          name: ap-southeast-7
          provider: AWS
        - id: 6
          name: ap-northeast-1
          provider: AWS
        - id: 5
          name: ap-southeast-1
          provider: AWS
        - id: 15
          name: ap-southeast-2
          provider: AWS
        - id: 132
          name: il-central-1
          provider: AWS
        - id: 144
          name: mx-central-1
          provider: AWS
        - id: 32
          name: asia-east1
          provider: GCP
        - id: 67
          name: asia-east2
          provider: GCP
        - id: 33
          name: asia-northeast1
          provider: GCP
        - id: 104
          name: asia-northeast2
          provider: GCP
        - id: 69
          name: asia-south1
          provider: GCP
        - id: 34
          name: asia-southeast1
          provider: GCP
        - id: 71
          name: australia-southeast1
          provider: GCP
        - id: 72
          name: europe-north1
          provider: GCP
        - id: 35
          name: europe-west1
          provider: GCP
        - id: 74
          name: europe-west2
          provider: GCP
        - id: 128
          name: asia-southeast2
          provider: GCP
        - id: 75
          name: europe-west3
          provider: GCP
        - id: 36
          name: europe-west4
          provider: GCP
        - id: 133
          name: europe-west10
          provider: GCP
        - id: 130
          name: europe-southwest1
          provider: GCP
        - id: 134
          name: europe-west8
          provider: GCP
        - id: 113
          name: europe-west6
          provider: GCP
        - id: 129
          name: me-west1
          provider: GCP
        - id: 135
          name: europe-west9
          provider: GCP
        - id: 77
          name: northamerica-northeast1
          provider: GCP
        - id: 136
          name: europe-west12
          provider: GCP
        - id: 137
          name: europe-central2
          provider: GCP
        - id: 131
          name: northamerica-northeast2
          provider: GCP
        - id: 138
          name: me-central2
          provider: GCP
        - id: 139
          name: me-central1
          provider: GCP
        - id: 140
          name: us-east5
          provider: GCP
        - id: 141
          name: us-south1
          provider: GCP
        - id: 27
          name: us-central1
          provider: GCP
        - id: 38
          name: us-east1
          provider: GCP
        - id: 39
          name: us-east4
          provider: GCP
        - id: 40
          name: us-west1
          provider: GCP
        - id: 82
          name: us-west2
          provider: GCP
        - id: 142
          name: southamerica-west1
          provider: GCP
        - id: 95
          name: southamerica-east1
          provider: GCP
        - id: 143
          name: africa-south1
          provider: GCP
    Region:
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        provider:
          type: string
          enum:
          - AWS
          - GCP
      description: RedisLabs region information
    AccountSystemLogEntry:
      type: object
      properties:
        id:
          type: integer
          format: int32
        time:
          type: string
          format: date-time
        originator:
          type: string
        apiKeyName:
          type: string
        resource:
          type: string
        resourceId:
          type: integer
          format: int32
        type:
          type: string
        description:
          type: string
      description: Account system log entry
    RootAccount:
      type: object
      properties:
        links:
          type: array
          items:
            type: object
            additionalProperties:
              type: string
      example:
        account:
          id: 1001
          name: Redis
          createdTimestamp: '2018-12-23T15:15:31Z'
          updatedTimestamp: '2022-10-12T10:54:10Z'
          pocStatus: inactive
          marketplaceStatus: active
          key:
            name: capi-api-key-name
            accountId: 1001
            accountName: Redis
            allowedSourceIps:
            - 0.0.0.0/0
            createdTimestamp: '2022-05-11T12:05:47Z'
            owner:
              name: CAPI user
              email: capi.user@redis.com
            userAccountId: 1
            httpSourceIp: 79.0.0.173
    CostReportCreateRequest:
      required:
      - endDate
      - startDate
      type: object
      properties:
        startDate:
          type: string
          description: Filter for usage starting on or after this date. Must be in format YYYY-MM-DD
          format: YYYY-MM-DD
          example: '2025-10-01'
        endDate:
          type: string
          description: Filter for usage ending on or before this date. Must be in format YYYY-MM-DD and must be after start date
          format: YYYY-MM-DD
          example: '2025-11-06'
        format:
          type: string
          description: Output format for the cost report
          example: csv
          default: csv
          enum:
          - json
          - csv
        subscriptionIds:
          type: array
          description: Array of subscriptionIDs to filter by
          example:
          - 123
          - 456
          items:
            type: integer
            description: Array of subscriptionIDs to filter by
            format: int32
        databaseIds:
          type: array
          description: Array of database IDs to filter by
          example:
          - 789
          - 101112
          items:
            type: integer
            description: Array of database IDs to filter by
            format: int32
        subscriptionType:
          type: string
          description: Filter by plan type
          example: pro
          enum:
          - pro
          - essentials
        regions:
          type: array
          description: Array of regions to filter by
          example:
          - us-east-1
          - eu-west-1
          items:
            type: string
            description: Array of regions to filter by
            example: '["us-east-1","eu-west-1"]'
        tags:
          type: array
          description: Array of key-value pairs for tag filtering
          items:
            $ref: '#/components/schemas/Tag'
        commandType:
          type: string
          readOnly: true
      description: Cost report generation request
    AccountSessionLogEntry:
      type: object
      properties:
        id:
          type: string
        time:
          type: string
          format: date-time
        user:
          type: string
        userAgent:
          type: string
        ipAddress:
          type: string
        userRole:
          type: string
        type:
          type: string
        action:
          type: string
      description: Account session log entry
  securitySchemes:
    x-api-key:
      type: apiKey
      name: x-api-key
      in: header
    x-api-secret-key:
      type: apiKey
      name: x-api-secret-key
      in: header
    x-auth-token:
      type: apiKey
      name: x-auth-token
      in: header
externalDocs:
  description: Redis Cloud API Documentation
  url: https://docs.redislabs.com/latest/rc/api/
