openapi: 3.2.0
info:
  title: Redis Cloud Subscriptions - Pro API
  description: Redis Cloud API
  contact:
    name: Customer Support
    url: https://support.redislabs.com
    email: support@redis.com
  version: Version 1
servers:
- url: https://api.redislabs.com
security:
- x-api-key: []
  x-api-secret-key: []
  x-auth-token: []
tags:
- name: Subscriptions - Pro
  description: All Pro subscription operations.
  x-order: '10'
paths:
  /v1/subscriptions/{subscriptionId}:
    get:
      tags:
      - Subscriptions - Pro
      summary: Get a single Pro subscription
      description: Gets information on the specified Pro subscription.
      operationId: getSubscriptionById
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
    put:
      tags:
      - Subscriptions - Pro
      summary: Update Pro subscription
      description: Updates the specified Pro subscription.
      operationId: updateSubscription
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseSubscriptionUpdateRequest'
        required: true
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
    delete:
      tags:
      - Subscriptions - Pro
      summary: Delete Pro subscription
      description: Delete the specified Pro subscription. All databases in the subscription must be deleted before deleting it.
      operationId: deleteSubscriptionById
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
  /v1/subscriptions/{subscriptionId}/resource-tags:
    put:
      tags:
      - Subscriptions - Pro
      summary: Update Pro subscription resource tags
      description: Updates the resource tags for the specified Pro subscription. This replaces all existing tags with the provided tags.
      operationId: updateSubscriptionResourceTags
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionResourceTagsUpdateRequest'
        required: true
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
  /v1/subscriptions/{subscriptionId}/maintenance-windows:
    get:
      tags:
      - Subscriptions - Pro
      summary: Get Pro subscription maintenance windows
      description: Gets maintenance windows for the specified Pro subscription.
      operationId: getSubscriptionMaintenanceWindows
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionMaintenanceWindows'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
    put:
      tags:
      - Subscriptions - Pro
      summary: Update Pro subscription maintenance windows
      description: Updates maintenance windows for the specified Pro subscription.
      operationId: updateSubscriptionMaintenanceWindows
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionMaintenanceWindowsSpec'
        required: true
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
  /v1/subscriptions/{subscriptionId}/cidr:
    get:
      tags:
      - Subscriptions - Pro
      summary: Get Pro subscription CIDR whitelist
      description: (Bring your own Cloud only) Gets a Pro subscription's CIDR whitelist. Asynchronous operation - Query GET /tasks/{taskId} with the returned taskId.
      operationId: getCidrWhiteList
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
    put:
      tags:
      - Subscriptions - Pro
      summary: Update Pro subscription CIDR whitelist
      description: (Bring your own Cloud only) Updates a Pro subscription's CIDR whitelist.
      operationId: updateSubscriptionCidrWhiteList
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CidrWhiteListUpdateRequest'
        required: true
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
  /v1/subscriptions:
    get:
      tags:
      - Subscriptions - Pro
      summary: Get Pro subscriptions
      description: Gets a list of all Pro subscriptions in the current account.
      operationId: getAllSubscriptions
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSubscriptions'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
    post:
      tags:
      - Subscriptions - Pro
      summary: Create Pro subscription
      description: Creates a new Redis Cloud Pro subscription.
      operationId: createSubscription
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionCreateRequest'
            example:
              name: My new subscription
              dryRun: false
              deploymentType: single-region
              paymentMethod: credit-card
              paymentMethodId: 12345
              publicEndpointAccess: true
              memoryStorage: ram
              cloudProviders:
              - provider: AWS
                regions:
                - region: us-east-1
                  multipleAvailabilityZones: true
                  preferredAvailabilityZones:
                  - use1-az1
                  - use1-az4
                  - use1-az5
                  networking:
                    deploymentCIDR: 10.0.0.0/24
              databases:
              - name: Redis-database-example
                protocol: redis
                datasetSizeInGb: 2
                supportOSSClusterApi: false
                dataPersistence: none
                replication: true
                throughputMeasurement:
                  by: operations-per-second
                  value: 10000
                quantity: 1
        required: true
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to create requested resource (primarily due to not active resource)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with the new name
        '422':
          description: Unprocessable Entity - The server understands the request, and the syntax of the request is correct, but it was unable to process the contained instructions
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
  /v1/subscriptions/{subscriptionId}/regions:
    get:
      tags:
      - Subscriptions - Pro
      summary: Get regions in an Active-Active subscription
      description: (Active-Active subscriptions only) Gets a list of regions in the specified Active-Active subscription.
      operationId: getRegionsFromActiveActiveSubscription
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiveActiveSubscriptionRegions'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
    post:
      tags:
      - Subscriptions - Pro
      summary: Add region to Active-Active subscription
      description: Adds a new region to an Active-Active subscription.
      operationId: addNewRegionToActiveActiveSubscription
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActiveActiveRegionCreateRequest'
        required: true
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
    delete:
      tags:
      - Subscriptions - Pro
      summary: Delete regions from an Active-Active subscription
      description: (Active-Active subscriptions only) Deletes one or more regions from the specified Active-Active subscription.
      operationId: deleteRegionsFromActiveActiveSubscription
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActiveActiveRegionDeleteRequest'
        required: true
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskStateUpdate'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
  /v1/subscriptions/{subscriptionId}/pricing:
    get:
      tags:
      - Subscriptions - Pro
      summary: Get Pro subscription pricing
      description: Gets pricing details for the specified Pro subscription.
      operationId: getSubscriptionPricing
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionPricings'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
  /v1/subscriptions/redis-versions:
    get:
      tags:
      - Subscriptions - Pro
      summary: Get available Redis database versions
      description: Gets a list of all available Redis database versions for Pro subscriptions.
      operationId: getRedisVersions
      parameters:
      - name: subscriptionId
        in: query
        description: Subscription ID (required for an existing subscription)
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedisVersions'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
components:
  schemas:
    CidrWhiteListUpdateRequest:
      type: object
      properties:
        subscriptionId:
          type: integer
          format: int32
          readOnly: true
        cidrIps:
          type: array
          description: 'List of CIDR values. Example: [''10.1.1.0/32'']'
          items:
            type: string
            description: 'List of CIDR values. Example: [''10.1.1.0/32'']'
        securityGroupIds:
          type: array
          description: List of AWS Security group IDs.
          items:
            type: string
            description: List of AWS Security group IDs.
        commandType:
          type: string
          readOnly: true
      description: Update Pro subscription
    RedisVersions:
      type: object
      properties:
        redisVersions:
          type: array
          items:
            $ref: '#/components/schemas/RedisVersion'
    SubscriptionMaintenanceWindows:
      type: object
      properties:
        mode:
          type: string
          enum:
          - manual
          - automatic
        timeZone:
          type: string
        windows:
          type: array
          items:
            $ref: '#/components/schemas/MaintenanceWindow'
        skipStatus:
          $ref: '#/components/schemas/MaintenanceWindowSkipStatus'
    SubscriptionPricing:
      type: object
      properties:
        type:
          type: string
        typeDetails:
          type: string
        quantity:
          type: integer
          format: int32
        quantityMeasurement:
          type: string
        pricePerUnit:
          type: number
          format: double
        priceCurrency:
          type: string
        pricePeriod:
          type: string
        region:
          type: string
    ActiveActiveRegionCreateRequest:
      type: object
      properties:
        subscriptionId:
          type: integer
          format: int32
          readOnly: true
        region:
          type: string
          description: Name of region to add as defined by the cloud provider.
        vpcId:
          type: string
          description: Optional. Enter a VPC identifier that exists in the hosted AWS account. Creates a new VPC if not set. VPC Identifier must be in a valid format and must exist within the hosting account.
          example: vpc-0125be68a4625884ad
        deploymentCIDR:
          type: string
          description: Deployment CIDR mask. Must be a valid CIDR format with a range of 256 IP addresses.
          example: 10.0.0.0/24
        subnetIds:
          type: array
          description: Optional. Enter a list of subnets identifiers that exists in the hosted AWS account. Subnet Identifier must exist within the hosting account.
          example: '[''subnet-0125be68a4625884ad'', ''subnet-0125be68a4625884ad'',''subnet-0125be68a4625884ad'']'
          items:
            type: string
            description: Optional. Enter a list of subnets identifiers that exists in the hosted AWS account. Subnet Identifier must exist within the hosting account.
            example: '[''subnet-0125be68a4625884ad'', ''subnet-0125be68a4625884ad'',''subnet-0125be68a4625884ad'']'
        securityGroupId:
          type: string
          description: 'Optional. Enter a security group identifier that exists in the hosted AWS account. Security group Identifier must be in a valid format (for example: ''sg-0125be68a4625884ad'') and must exist within the hosting account.'
          example: sg-0125be68a4625884ad
        multipleAvailabilityZones:
          type: boolean
          description: Optional. Support deployment on multiple availability zones within the selected region. When omitted, defaults to true unless the region is explicitly marked as not supporting multi-AZ.
          example: false
        preferredAvailabilityZones:
          type: array
          description: Optional. List the zone IDs for your preferred availability zones for the cloud provider and region.
          items:
            type: string
            description: Optional. List the zone IDs for your preferred availability zones for the cloud provider and region.
        dryRun:
          type: boolean
          description: 'Optional. When ''false'': Creates a deployment plan and deploys it, creating any resources required by the plan. When ''true'': creates a read-only deployment plan, and does not create any resources. Default: ''false'''
          example: false
        databases:
          type: array
          description: 'List of databases in the subscription with local throughput details. Default: 1000 read and write ops/sec for each database'
          items:
            $ref: '#/components/schemas/CrdbRegionSpec'
        respVersion:
          type: string
          description: Optional. RESP version must be compatible with Redis version.
          example: resp3
          deprecated: true
          enum:
          - resp2
          - resp3
        customerManagedKeyResourceName:
          type: string
          description: Required for subscriptions where 'persistentStorageEncryptionType' is 'customer-managed-key'. The resource name of the customer-managed encryption key for the region.
          example: projects/PROJECT_ID/locations/LOCATION/keyRings/KEY_RING/cryptoKeys/KEY_NAME
        commandType:
          type: string
          readOnly: true
      description: Active active region creation request message
    SubscriptionUpdateCMKRequest:
      required:
      - customerManagedKeys
      type: object
      properties:
        subscriptionId:
          type: integer
          format: int32
          readOnly: true
        commandType:
          type: string
          readOnly: true
        deletionGracePeriod:
          type: string
          description: Optional. The grace period for deleting the subscription if Redis cannot access the provided key. Required when applying customer managed keys for a new subscription.
          example: alerts-only
          enum:
          - alerts-only
          - immediate
          - 15-minutes
          - 30-minutes
          - 1-hour
          - 4-hours
          - 8-hours
          - 12-hours
          - 24-hours
        customerManagedKeys:
          type: array
          description: The customer managed keys (CMK) to use for this subscription. If is active-active subscription, must set a key for each region.
          items:
            $ref: '#/components/schemas/CustomerManagedKey'
      description: Subscription update request message
    MaintenanceWindowSkipStatus:
      type: object
      properties:
        remainingSkips:
          type: integer
          format: int32
        currentSkipEnd:
          type: string
    MaintenanceWindow:
      type: object
      properties:
        days:
          type: array
          items:
            type: string
        startHour:
          type: integer
          format: int32
        durationInHours:
          type: integer
          format: int32
    SubscriptionRegionNetworkingSpec:
      type: object
      properties:
        deploymentCIDR:
          type: string
          description: 'Optional. Deployment CIDR mask. Must be a valid CIDR format with a range of 256 IP addresses. Default for single-region subscriptions: If using Redis internal cloud account, 192.168.0.0/24'
          example: 10.0.0.0/24
        vpcId:
          type: string
          description: 'Optional. Enter a VPC identifier that exists in the hosted AWS account. Creates a new VPC if not set. VPC Identifier must be in a valid format (for example: ''vpc-0125be68a4625884ad'') and must exist within the hosting account.'
          example: <vpc-identifier>
        subnetIds:
          type: array
          description: Optional. Enter a list of subnets identifiers that exists in the hosted AWS account. Subnet Identifier must exist within the hosting account.
          items:
            type: string
            description: Optional. Enter a list of subnets identifiers that exists in the hosted AWS account. Subnet Identifier must exist within the hosting account.
        securityGroupId:
          type: string
          description: 'Optional. Enter a security group identifier that exists in the hosted AWS account. Security group Identifier must be in a valid format (for example: ''sg-0125be68a4625884ad'') and must exist within the hosting account.'
      description: Optional. Cloud networking details, per region. Required if creating an Active-Active subscription.
    AccountSubscriptions:
      type: object
      properties:
        accountId:
          type: integer
          format: int32
        links:
          type: array
          items:
            type: object
            additionalProperties:
              type: string
      description: RedisLabs list of subscriptions in current account
      example:
        accountId: 1001
        subscriptions:
        - id: 1206
          name: subscription name
          status: active
          deploymentType: single-region
          paymentMethodId: 123
          publicEndpointAccess: true
          memoryStorage: ram
          numberOfDatabases: 6
          paymentMethodType: credit-card
          storageEncryption: false
          subscriptionPricing:
          - type: Shards
            typeDetails: high-throughput
            quantity: 7
            quantityMeasurement: shards
            pricePerUnit: 0.124
            priceCurrency: USD
            pricePeriod: hour
          cloudDetails:
          - provider: AWS
            awsAccountId: '550680565604'
            cloudAccountId: 1666
            totalSizeInGb: 0.0272
            regions:
            - region: us-east-1
              networking:
              - deploymentCIDR: 10.0.0.0/24
                subnetId: subnet-009ce004ed90da8a6
              preferredAvailabilityZones:
              - us-east-1a
              multipleAvailabilityZones: false
            links: []
          links: []
    SubscriptionRegionSpec:
      required:
      - region
      type: object
      properties:
        region:
          type: string
          description: Deployment region as defined by the cloud provider.
          example: us-east-1
        multipleAvailabilityZones:
          type: boolean
          description: 'Optional. Support deployment on multiple availability zones within the selected region. Default for Active-Active: matches the region''s multi-AZ capability (true on multi-AZ regions, false on non-multi-AZ regions). Default for Pro / single-region: `false`.'
          example: false
        preferredAvailabilityZones:
          type: array
          description: Optional. List the zone ID(s) for your preferred availability zone(s) for the cloud provider and region. If ‘multipleAvailabilityZones’ is set to 'true', you must list three availability zones. Otherwise, list one availability zone.
          items:
            type: string
            description: Optional. List the zone ID(s) for your preferred availability zone(s) for the cloud provider and region. If ‘multipleAvailabilityZones’ is set to 'true', you must list three availability zones. Otherwise, list one availability zone.
        networking:
          $ref: '#/components/schemas/SubscriptionRegionNetworkingSpec'
      description: The cloud provider region or list of regions (Active-Active only) and networking details.
    SubscriptionResourceTagsUpdateRequest:
      required:
      - resourceTags
      type: object
      properties:
        subscriptionId:
          type: integer
          format: int32
          readOnly: true
        resourceTags:
          type: array
          description: List of resource tags to apply to the subscription. This will replace all existing tags.
          items:
            $ref: '#/components/schemas/ResourceTag'
        commandType:
          type: string
          readOnly: true
      description: Resource tags update request
    ActiveActiveRegionToDelete:
      type: object
      properties:
        region:
          type: string
          description: Name of the cloud provider region to delete.
      description: The names of the regions to delete.
    CustomerManagedKeyAccessDetails:
      type: object
      properties:
        redisServiceAccount:
          type: string
        googlePredefinedRoles:
          type: array
          items:
            type: string
        googleCustomPermissions:
          type: array
          items:
            type: string
        redisIamRole:
          type: string
        requiredKeyPolicyStatements:
          type: object
        deletionGracePeriodOptions:
          type: array
          items:
            type: string
      description: Configuration regarding customer managed persistent storage encryption
    CrdbRegionSpec:
      type: object
      properties:
        name:
          type: string
          description: Database name.
        localThroughputMeasurement:
          $ref: '#/components/schemas/LocalThroughput'
      description: 'List of databases in the subscription with local throughput details. Default: 1000 read and write ops/sec for each database'
    DatabaseThroughputSpec:
      required:
      - by
      - value
      type: object
      properties:
        by:
          type: string
          description: Throughput measurement method. Use 'operations-per-second' for all new databases.
          enum:
          - operations-per-second
          - number-of-shards
        value:
          type: integer
          description: Throughput value in the selected measurement method.
          format: int64
          example: 10000
      description: Optional. Throughput measurement method.
    ActiveActiveSubscriptionRegions:
      type: object
      properties:
        subscriptionId:
          type: integer
          format: int32
        links:
          type: array
          items:
            type: object
            additionalProperties:
              type: string
      description: List of active-active subscription regions
      example:
        subscriptionId: 126
        regions:
        - regionId: 1
          region: us-east-1
          deploymentCidr: 10.0.0.0/24
          vpcId: vpc-0bf863584c46321e4
          databases:
          - databaseId: 862
            databaseName: Bdb
            readOperationsPerSecond: 500
            writeOperationsPerSecond: 500
            respVersion: resp3
            links: []
          - databaseId: 864
            databaseName: Bdb2
            readOperationsPerSecond: 1000
            writeOperationsPerSecond: 1000
            respVersion: resp3
            links: []
          links: []
        - regionId: 4
          region: eu-west-1
          deploymentCidr: 10.0.1.0/24
          vpcId: vpc-0108fb753063ecf8b
          databases:
          - databaseId: 862
            databaseName: Bdb
            readOperationsPerSecond: 500
            writeOperationsPerSecond: 500
            respVersion: resp3
            links: []
          - databaseId: 864
            databaseName: Bdb2
            readOperationsPerSecond: 1000
            writeOperationsPerSecond: 1000
            respVersion: resp3
            links: []
          links: []
        links:
        - rel: self
          href: https://api-cloudapi.qa.redislabs.com/v1/subscriptions/133876/regions
          type: GET
    ProcessorResponse:
      type: object
      properties:
        resourceId:
          type: integer
          format: int32
        additionalResourceId:
          type: integer
          format: int32
        resource:
          type: object
        error:
          type: string
          enum:
          - UNAUTHORIZED
          - ACCOUNT_POC_INACTIVE_PENDING
          - CLOUD_ACCOUNT_NOT_ACTIVE
          - CLOUD_ACCOUNT_NOT_FOUND
          - CLOUD_ACCOUNT_USED
          - CLOUD_ACCOUNT_INVALID_CREDS
          - CLOUD_ACCOUNT_NAME_EXISTS
          - CLOUD_ACCOUNT_ACCESS_KEY_EXISTS
          - CLOUD_ACCOUNT_PERMISSION_FAILED
          - CLOUD_ACCOUNT_ALLOCATION_FAILURE
          - NOT_KNOWN_CLOUD_PROVIDER
          - MULTIPLE_CLOUD_PROVIDERS_NOT_SUPPORTED
          - SUBSCRIPTION_NOT_ACTIVE
          - SUBSCRIPTION_CONTAINS_NON_ACTIVE_DATABASE
          - SUBSCRIPTION_NOT_FOUND
          - SUBSCRIPTION_IN_USE
          - SUBSCRIPTION_CA_PROVIDER_MISMATCH
          - SUBSCRIPTION_NETWORKING_MISSING
          - NETWORKING_CIDR_MISSING
          - SUBSCRIPTION_INVALID_CIDR
          - NETWORKING_SECURITY_GROUP_MISSING
          - NETWORKING_SUBNET_IDS_MISSING
          - NETWORKING_VPC_ID_MISSING
          - NETWORKING_CIDR_IS_NOT_SUPPORTED
          - NETWORKING_VPC_WITH_SUBNETS_AND_SECURITY_GROUP_IS_NOT_SUPPORTED
          - NETWORKING_VPC_WITH_SUBNETS_AND_SECURITY_GROUP_IS_NOT_SUPPORTED_FOR_INTERNAL_CLOUD_ACCOUNT
          - INVALID_NUMBER_OF_SUBNET_IDS
          - SUBSCRIPTION_PI_NOT_FOUND
          - SUBSCRIPTION_INVALID_REGION_NAME
          - SUBSCRIPTION_INVALID_REGION_ID
          - SUBSCRIPTION_BAD_PREFERRED_AZ_SIZE
          - SUBSCRIPTION_REGION_DOES_NOT_SUPPORT_MULTI_AZ
          - SUBSCRIPTION_AA_NON_MAZ_REGION_NOT_SUPPORTED
          - SUBSCRIPTION_PREFERRED_AZ_INVALID_VALUE
          - SUBSCRIPTION_PREFERRED_AZ_MUST_BE_DEFINED_ONCE
          - SUBSCRIPTION_PREFERRED_AZ_IS_DISABLED
          - SUBSCRIPTION_MUST_HAVE_AT_LEAST_ONE_DATABASE
          - SUBSCRIPTION_REDIS_VERSION_INVALID_VALUE
          - SUBSCRIPTION_REDIS_VERSION_CONFLICT
          - ACTIVE_ACTIVE_SUBSCRIPTION_PREVIEW_REDIS_VERSION_IS_NOT_SUPPORTED
          - SUBSCRIPTION_GCP_ALLOW_ONLY_INTERNAL
          - CLUSTER_UNDER_MAINTENANCE
          - ACTIVE_ACTIVE_SUBSCRIPTION_IS_NOT_SUPPORTED
          - RESOURCE_TAGS_EXCEEDS_MAXIMUM_COUNT
          - RESOURCE_TAG_KEY_EXCEEDS_MAXIMUM_LENGTH
          - RESOURCE_TAG_VALUE_EXCEEDS_MAXIMUM_LENGTH
          - RESOURCE_TAGS_NOT_ALLOWED_WITH_INTERNAL_CLOUD_ACCOUNT
          - RESOURCE_TAGS_NOT_ALLOWED
          - RESOURCE_TAGS_NAME_NOT_ALLOWED
          - RESOURCE_TAGS_EMPTY_KEY
          - RESOURCE_TAGS_DUPLICATE_KEY
          - RESOURCE_TAGS_MISSING_VALUE
          - CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_IS_NOT_SUPPORTED
          - CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_MISSING_USAGE_PERMISSIONS
          - CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_MISSING_GET_KEY_PERMISSIONS
          - CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_MISSING_GET_IAM_POLICY_PERMISSIONS
          - CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_DISABLED_KEY
          - CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_INVALID_KEY_NAME
          - CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_WRONG_REGION
          - CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_NOT_ALLOWED_WITH_CLOUD_PROVIDER_MANAGED_KEY
          - CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_NOT_ALLOWED_WITH_INTERNAL_CLOUD_ACCOUNT
          - CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_REQUIRED_FOR_EXTERNAL_CLOUD_ACCOUNT
          - CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_DELETION_GRACE_PERIOD_REQUIRED
          - CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_INVALID_NUMBER_OF_KEYS
          - CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_REGION_NOT_REQUIRED
          - CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_REGION_REQUIRED
          - CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_MISSING_KEYS
          - CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_INVALID_REGION
          - CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_DUPLICATE_REGIONS
          - CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_INVALID_FORMAT
          - CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_UPDATE_IS_NOT_SUPPORTED
          - CUSTOMER_MANAGED_PERSISTENT_STORAGE_ENCRYPTION_KEY_SUBSCRIPTION_INVALID_STATUS
          - ACTIVE_ACTIVE_CREATE_A_REGION_CUSTOMER_MANAGED_KEY_RESOURCE_NAME_SUBSCRIPTION_IS_NOT_CUSTOMER_MANAGED
          - ACTIVE_ACTIVE_CREATE_A_REGION_CUSTOMER_MANAGED_KEY_RESOURCE_NAME_IS_NOT_SET
          - PLANNED_SUBSCRIPTION_INVALID_PLAN_ID
          - PLANNER_TIMEOUT
          - PLANNER_FAILURE
          - PLANNER_NOT_ENOUGH_AZS
          - PLANNER_INVALID_INSTANCE_TYPE_PER_AZ
          - PLANNER_MODULE_PLAN_CLUSTERING_ERROR
          - PLANNER_MODULE_PLAN_RESHARDING_ERROR
          - PLANNER_INVALID_PLAN
          - PLANNER_INVALID_SIZE
          - PLANNER_INVALID_NUMBER
          - PLANNER_INVALID_THROUGHPUT
          - PROVISION_FAILURE
          - DATABASE_NOT_ACTIVE
          - DATABASE_NOT_FOUND
          - DATABASE_SUBSCRIPTION_MISMATCH
          - DATABASE_CANT_EDIT_THROUGHPUT_BY
          - DATABASE_INVALID_SHARDS_COUNT
          - DATABASE_CONTAIN_MEMCACHED_USERNAME
          - DATABASE_CONTAIN_MEMCACHED_PASSWORD
          - DATABASE_SUBSCRIPTION_IN_PENDING_STATUS
          - DATABASE_THROUGHPUT_TOO_BIG
          - DATABASE_INVALID_THROUGHPUT_INCREMENT
          - DATABASE_MODULE_NOT_SUPPORTING_SHARD_THROUGHPUT_OPTION
          - DATABASE_MODULE_NOT_SUPPORTED
          - DATABASE_QUERY_PERFORMANCE_FACTOR_INVALID_VALUE
          - DATABASE_QUERY_PERFORMANCE_FACTOR_SEARCH_IS_REQUIRED
          - DATABASE_QUERY_PERFORMANCE_FACTOR_IS_NOT_SUPPORTED
          - DATABASE_QUERY_PERFORMANCE_FACTOR_IS_NOT_SUPPORTED_ON_ACTIVE_ACTIVE
          - REDISEARCH_SUPPORTS_ONLY_OPERATIONS_PER_SECOND_AS_THROUGHPUT_MEASUREMENT
          - REDIS_GRAPH_SUPPORTS_ONLY_OPS_PER_SECOND_AS_THROUGHPUT_MEASUREMENT
          - DATABASE_RESP_VERSION_IS_NOT_SUPPORTED
          - DATABASE_RESP_VERSION_IS_NOT_SUPPORTED_ON_CREATE_SUBSCRIPTION
          - DATABASE_ROF_NOT_SUPPORTED
          - DATABASE_REDISGRAPH_OVERSIZED
          - DATABASE_BACKUP_NOT_SUPPORTED
          - DATABASE_EVICTION_NOT_SUPPORTED
          - DATABASE_AOF_NOT_SUPPORTED
          - DATABASE_REPLICA_OF_NOT_SUPPORTED
          - DATABASE_SNAPSHOT_NOT_SUPPORTED
          - DATABASE_CLUSTERING_NOT_SUPPORTED
          - DATABASE_INVALID_THREAD_NUMBER
          - DATABASE_HASH_NOT_SUPPORTED
          - DATABASE_RESHARD_NOT_SUPPORTED
          - DATABASE_FEATURE_NOT_SUPPORTED
          - DATABASE_NAME_EXISTS
          - DATABASE_NAME_DUPLICATE
          - DATABASE_INVALID_NAME
          - DATABASE_NAME_TOO_LONG
          - DATABASE_SIZE_TOO_SMALL
          - DATABASE_SIZE_TOO_BIG
          - DATABASE_SIZE_LIMIT_NOT_DEFINED
          - DATABASE_SIZE_LIMIT_INVALID_TOO_MANY_MEMORY_SPECIFICATIONS
          - DATABASE_PASSWORD_IS_BLANK
          - DATABASE_PASSWORD_IS_TOO_LONG
          - DATABASE_REDIS_SEARCH_MODULE_VALUE_IS_NOT_INTEGER
          - DATABASE_REDIS_SEARCH_MODULE_VALUE_NOT_IN_RANGE
          - DATABASE_MODULE_MUST_BE_DEFINED_ONCE
          - DATABASE_MEMCACHED_CONTAINS_MODULES
          - DATABASE_MEMCACHED_NOT_SUPPORT_OSS_CLUSTER_API
          - REDIS_ON_FLASH_DATABASE_MEMCACHED_PROTOCOL_IS_NOT_ALLOWED
          - DATABASE_MEMCACHED_CONTAINS_REDIS_PASSWORD
          - DATABASE_MEMCACHED_CONTAINS_REDIS_DEFAULT_USER
          - DATABASE_MEMCACHED_SASL_USERNAME_IS_BLANK
          - DATABASE_MEMCACHED_SASL_PASSWORD_IS_BLANK
          - DATABASE_MEMCACHED_SASL_PASSWORD_MAX_LENGTH
          - DATABASE_REDIS_FLEX_CONTAINS_MODULES
          - DATABASE_AVERAGE_ITEM_SIZE_NOT_ALLOWED
          - DATABASE_RAM_PERCENTAGE_NOT_ALLOWED
          - DATABASE_RAM_PERCENTAGE_NOT_SUPPORTED
          - DATABASE_RAM_PERCENTAGE_IS_INVALID
          - DATABASE_AVERAGE_ITEM_SIZE_IS_DEPRECATED
          - DATABASE_MEMORY_LIMIT_IS_INVALID_FOR_ROF
          - DATABASE_DATASET_SIZE_IS_INVALID_FOR_ROF
          - DATABASE_SIZE_SMALLER_THAN_USAGE
          - DATABASE_USAGE_EXCEEDS_GLOBAL_LIMIT
          - DATABASE_USAGE_EXCEEDS_LOCAL_LIMIT
          - DATABASE_INVALID_CERT
          - DATABASE_EXPIRED_CERT
          - DATABASE_MISSING_CERT
          - DATABASE_CLIENT_SSL_CERTIFICATE_DEPRECATED
          - DATABASE_CLIENT_SSL_CERTIFICATE_MORE_THAN_1_ACTIVE
          - DATABASE_SIP_OVER_LIMIT
          - DATABASE_INVALID_SIP
          - DATABASE_INVALID_SIP_FREE_PLAN
          - DATABASE_INVALID_ALERTS
          - DATABASE_INVALID_MODULE
          - DATABASE_INVALID_MODULE_PARAMETER
          - DATABASE_INVALID_MODULE_PARAMETER_VALUE
          - DATABASE_EXPLICIT_MODULES_NOT_SUPPORTED_FOR_THIS_REDIS_VERSION
          - DATABASE_INVALID_ALERT_VALUE
          - DATABASE_SHARDING_TYPE_IS_IMMUTABLE
          - DATABASE_SHARDING_TYPE_IS_NOT_SUPPORTED
          - DATABASE_REGEX_RULES_NO_CLUSTERING
          - DATABASE_REGEX_RULES_CHANGES_BLOCKED
          - DATABASE_OSS_CLUSTER_NOT_SUPPORTED
          - DATABASE_EXTERNAL_ENDPOINT_WITHOUT_OSS_CLUSTER
          - CUSTOM_REGEX_RULES_IS_NOT_ALLOWED_WITHOUT_ENABLE_DATABASE_CLUSTERING_IS_TRUE
          - DATABASE_OSS_CLUSTER_CUSTOM_REGEX_NOT_SUPPORTED
          - DATABASE_OSS_CLUSTER_REPLICA_NOT_SUPPORTED
          - DATABASE_REPLICA_OF_PROPERTY_DEPRECATED
          - DATABASE_REPLICA_PER_SOURCE_OVER_LIMIT
          - DATABASE_REPLICA_CYCLE
          - DATABASE_INVALID_REPLICA
          - DATABASE_UNSUPPORTED_REPLICA_OF_REDIS_FLEX
          - DATABASE_REPLICAS_OVER_LIMIT
          - DATABASE_BACKUP_DISABLED
          - DATABASE_BACKUP_FAILED
          - DATABASE_BACKUP_NOT_CONFIGURED
          - DATABASE_INVALID_BACKUP_PATH
          - DATABASE_INVALID_BACKUP_INTERVAL
          - DATABASE_INVALID_TOO_MANY_BACKUP_SPECIFICATIONS
          - DATABASE_INVALID_BACKUP_STORAGE_TYPE
          - DATABASE_INVALID_IMPORT_SOURCE_TYPE
          - DATABASE_INVALID_BACKUP_TIME_UTC
          - DATABASE_INVALID_BACKUP_INTERVAL_AND_TIME_UTC_MISMATCH
          - DATABASE_INVALID_BACKUP_PATH_USED_BY_ANOTHER_ACCOUNT
          - DATABASE_INVALID_BACKUP_CONFIGURATION
          - DATABASE_INVALID_REGEX_RULES
          - DATABASE_INVALID_QUANTITY
          - DATABASE_REPLICA_OF_VERSION_NOT_COMPATIBLE
          - DATABASE_REPLICA_OF_SOURCE_INCOMPATIBLE
          - DATABASE_IMPORT_FAILED
          - DATABASE_IMPORT_FROM_NON_OSS
          - DATABASE_IMPORT_SOURCE_NOT_FOUND
          - DUPLICATE_DATABASE_IMPORT_SOURCE_PATH
          - DATABASE_IMPORT_WRONG_SIZE
          - DATABASE_IMPORT_URI_NOT_PROVIDED
          - DATABASE_IMPORT_MULTIPLE_REDIS_SOURCES
          - DATABASE_IMPORT_REDIS_BAD_URI
          - DATABASE_REPLICA_OF_BAD_URI
          - DATABASE_IMPORT_S3_BAD_URI
          - DATABASE_IMPORT_HTTP_BAD_URI
          - DATABASE_IMPORT_FTP_BAD_URI
          - DATABASE_IMPORT_AZURE_BAD_URI
          - DATABASE_IMPORT_GCS_BAD_URI
          - DATABASE_IMPORT_NOT_ALLOWED
          - DATABASE_PORT_INVALID_VALUE
          - DATABASE_PORT_IS_UNAVAILABLE
          - DATABASE_CUSTOM_PORT_NOT_SUPPORTED
          - DATABASE_CUSTOM_PORT_NOT_UNIQUE
          - DATABASE_AVERAGE_ITEM_SIZE_INVALID_VALUE
          - DATABASE_REDIS_VERSION_IS_NOT_SUPPORTED
          - DATABASE_REDIS_VERSION_IS_NOT_SUPPORTED_FOR_REGION
          - DATABASE_REDIS_VERSION_IS_NOT_SUPPORTED_FOR_MEMCACHED
          - DATABASE_REDIS_VERSION_IS_REQUIRED
          - DATABASE_REDIS_VERSION_INVALID_VALUE
          - INCOMPATIBLE_TF_PROVIDER
          - DESIRED_SOFTWARE_VERSION_IS_NOT_SUPPORTED
          - CONNECTIVITY_REQUESTS_ON_CUSTOMER_MANAGED_VPC_SUBSCRIPTION
          - VPC_PEERING_NOT_ACTIVE
          - VPC_PEERING_GENERAL_ERROR
          - VPC_PEERING_INVALID_ACCOUNT
          - VPC_PEERING_INVALID_VPC
          - VPC_PEERING_INVALID_CIDR
          - VPC_PEERING_CIDR_IS_MISSING
          - VPC_PEERING_TOO_MANY_CIDR_SPECIFICATIONS
          - VPC_PEERING_INVALID_REGION
          - VPC_PEERING_ALREADY_EXIST
          - VPC_PEERING_NOT_FOUND
          - VPC_PEERING_INVALID_PROJECT
          - VPC_PEERING_CLUSTER_NOT_ACTIVE
          - VPC_PEERING_CIDR_OVERLAP
          - VPC_PEERING_BELONGS_TO_DIFFERENT_CLOUD_PROVIDER
          - VPC_PEERING_IS_NOT_KNOWN_CLOUD_PROVIDER
          - CREATING_AN_ACTIVE_ACTIVE_VPC_PEERING_IS_NOT_ALLOWED_WITH_SINGLE_REGION_SUBSCRIPTION
          - UPDATING_AN_ACTIVE_ACTIVE_VPC_PEERING_IS_NOT_ALLOWED_WITH_SINGLE_REGION_SUBSCRIPTION
          - DELETING_AN_ACTIVE_ACTIVE_VPC_PEERING_IS_NOT_ALLOWED_WITH_SINGLE_REGION_SUBSCRIPTION
          - DELETING_AN_ACTIVE_ACTIVE_VPC_PEERING_IS_NOT_ALLOWED_FOR_A_SUBSCRIPTION_WITH_NO_VPC_PEERINGS
          - ACTIVE_ACTIVE_VPC_PEERING_NOT_FOUND
          - VPC_PEERING_MULTIPLE_CIDRS_IS_DISABLED
          - TGW_ACCEPTING_AN_ACTIVE_ACTIVE_TGW_RESOURCE_SHARE_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION
          - TGW_REJECTING_AN_ACTIVE_ACTIVE_TGW_RESOURCE_SHARE_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION
          - TGW_ACCEPTING_A_FLEXIBLE_SUBSCRIPTION_TGW_RESOURCE_SHARE_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION
          - TGW_REJECTING_A_FLEXIBLE_SUBSCRIPTION_TGW_RESOURCE_SHARE_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION
          - TGW_CREATING_AN_ACTIVE_ACTIVE_SUBSCRIPTION_TGW_ATTACHMENT_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION
          - TGW_DELETING_AN_ACTIVE_ACTIVE_SUBSCRIPTION_TGW_ATTACHMENT_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION
          - TGW_UPDATING_AN_ACTIVE_ACTIVE_TGW_ATTACHMENT_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION
          - TGW_CREATING_A_FLEXIBLE_SUBSCRIPTION_TGW_ATTACHMENT_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION
          - TGW_UPDATING_A_FLEXIBLE_SUBSCRIPTION_TGW_ATTACHMENT_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION
          - TGW_DELETING_A_FLEXIBLE_SUBSCRIPTION_TGW_ATTACHMENT_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION
          - TGW_CLOUD_PROVIDER_IS_NOT_SUPPORTED
          - TGW_RESOURCE_SHARE_DOES_NOT_EXIST
          - TGW_DOES_NOT_EXIST
          - TGW_ATTACHMENT_DOES_NOT_EXIST
          - TGW_ATTACHMENT_IS_NOT_ACTIVE
          - TGW_ATTACHMENT_CIDRS_INVALID_LENGTH
          - TGW_ATTACHMENT_CIDRS_ARE_THE_SAME_AS_EXISTING_ONES
          - TGW_ATTACHMENT_CIDRS_REQUEST_CONTAINS_DUPLICATES
          - TGW_REGION_DOES_NOT_EXIST
          - TGW_GETTING_ACTIVE_ACTIVE_SUBSCRIPTION_TGW_IS_NOT_ALLOWED_WITH_SINGLE_REGION_SUBSCRIPTION
          - TGW_GETTING_ACTIVE_ACTIVE_SUBSCRIPTION_TGW_INVITATIONS_IS_NOT_ALLOWED_WITH_SINGLE_REGION_SUBSCRIPTION
          - TGW_GETTING_SINGLE_REGION_TGWS_IS_NOT_ALLOWED_WITH_ACTIVE_ACTIVE_SUBSCRIPTION
          - TGW_GETTING_SINGLE_REGION_TGW_INVITATIONS_IS_NOT_ALLOWED_WITH_ACTIVE_ACTIVE_SUBSCRIPTION
          - PSC_ENDPOINT_INVALID_GCP_PROJECT_ID
          - PSC_ENDPOINT_INVALID_VPC_NAME
          - PSC_ENDPOINT_INVALID_VPC_SUBNET_NAME
          - PSC_ENDPOINT_INVALID_CONNECTION_NAME
          - PSC_SERVICE_ALREADY_EXISTS
          - PSC_ENDPOINT_ALREADY_EXISTS
          - PSC_CLOUD_PROVIDER_IS_NOT_SUPPORTED
          - PSC_GET_AN_ACTIVE_ACTIVE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_ENDPOINTS_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION
          - PSC_GET_A_FLEXIBLE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_ENDPOINT_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION
          - PSC_CREATING_AN_ACTIVE_ACTIVE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION
          - PSC_CREATING_A_FLEXIBLE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION
          - PSC_DELETING_AN_ACTIVE_ACTIVE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION
          - PSC_DELETING_A_FLEXIBLE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION
          - PSC_CREATING_A_FLEXIBLE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_ENDPOINT_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION
          - PSC_CREATING_AN_ACTIVE_ACTIVE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_ENDPOINT_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION
          - PSC_CREATING_AN_ACTIVE_ACTIVE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_IS_NOT_SUPPORTED
          - PSC_UPDATING_A_FLEXIBLE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_ENDPOINT_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION
          - PSC_UPDATING_AN_ACTIVE_ACTIVE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_ENDPOINT_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION
          - PSC_DELETING_A_FLEXIBLE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_ENDPOINT_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION
          - PSC_DELETING_AN_ACTIVE_ACTIVE_SUBSCRIPTION_PRIVATE_SERVICE_CONNECT_ENDPOINT_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION
          - PSC_UPDATE_ENDPOINT_REQUEST_ACTION_INVALID_VALUE
          - PSC_UPDATE_ENDPOINT_REQUEST_CANNOT_HAVE_BOTH_ACTION_AND_OTHER_FIELDS
          - PSC_UPDATE_ENDPOINT_REQUEST_CANNOT_UPDATE_INITIALIZED_ENDPOINT
          - PSC_SERVICE_NOT_FOUND
          - PSC_ENDPOINT_NOT_FOUND
          - PSC_ENDPOINT_NOT_ACTIVE
          - PSC_ENDPOINT_NOT_CREATED_OR_DELETED
          - PSC_ENDPOINT_CANNOT_BE_DELETED_WITHOUT_DELETION_SCRIPT
          - PSC_SERVICE_CANNOT_DELETE_SERVICE_WITH_ACTIVE_ENDPOINTS
          - PSC_SERVICE_NOT_ACTIVE
          - PSC_ENDPOINT_SCRIPT_FAILED_TO_PARSE
          - CIDR_WHITELIST_GENERAL_ERROR
          - CIDR_WHITELIST_INVALID_CIDRS
          - CIDR_WHITELIST_INVALID_SG
          - CIDR_WHITELIST_LIMIT_EXCEEDED
          - CIDR_WHITELIST_DUPLICATE_CIDRS
          - CIDR_WHITELIST_DUPLICATE_SG
          - CIDR_WHITELIST_NOT_ALLOWED
          - CLIENT_PUBLIC_ACCESS_INVALID_SOURCE_IPS
          - CLIENT_PUBLIC_ACCESS_NOT_SUPPORTED
          - CLIENT_PUBLIC_ACCESS_ALREADY_SET
          - CLIENT_PUBLIC_ACCESS_ON_NON_HOSTED
          - AWS_ERROR_INSTANCE_LIMIT_EXCEEDED
          - AWS_ERROR_VPC_LIMIT_EXCEEDED
          - AWS_ERROR_INSUFFICIENT_INSTANCE_CAPACITY
          - AWS_ERROR_VOLUME_LIMIT_EXCEEDED
          - AWS_ERROR_MISMATCHING_CIDR
          - AWS_ERROR_CONFLICTING_CIDR
          - AWS_ERROR_VPC_DOES_NOT_EXIST
          - AWS_ERROR_EXISTING_VPC_EQUAL_TO_REQUESTED
          - PAYMENT_INFO_NOT_PROVIDED
          - PAYMENT_INFO_EXPIRED
          - PAYMENT_INFO_NOT_ALLOWED_IN_GCP_ACCOUNT
          - CLOUD_PROVIDER_IS_NOT_GCP_IN_GCP_ACCOUNT
          - PAYMENT_INFO_NOT_ALLOWED_IN_CONTRACT_ASSOCIATED_ACCOUNT
          - PAYMENT_INFO_CHANGE_PROHIBITED_FOR_PRO_UNDER_CONTRACT
          - LOCAL_THROUGHPUT_READ_AND_WRITE_OPERATIONS_PER_SECOND_VALUES_MUST_BE_IN_INCREMENTS_OF_500_OR_MINIMUM
          - MISSING_REGIONS_BETWEEN_CLOUD_PROVIDERS_AND_DATABASES_LOCAL_THROUGHPUT_MEASUREMENTS
          - MISSING_REGIONS_BETWEEN_LOCAL_THROUGHPUT_MEASUREMENTS_AND_SUBSCRIPTION_REGIONS
          - CRDB_ACTIVE_ACTIVE_MISSING_LOCAL_THROUGHPUT_MEASUREMENT
          - CRDB_ACTIVE_ACTIVE_REGIONS_MUST_BE_DEFINED_ONCE
          - ACTIVE_ACTIVE_CREATE_A_REGION_MUST_CONTAIN_DATABASE_SPEC_TO_ALL_CRDBS_IN_SUBSCRIPTION
          - ACTIVE_ACTIVE_CREATE_A_REGION_MUST_CONTAIN_LOCAL_THROUGHPUT_MEASUREMENT_IN_DATABASE_SPEC
          - ACTIVE_ACTIVE_CREATE_A_REGION_MUST_BE_DEFINED_ONCE_PER_DATABASE
          - ACTIVE_ACTIVE_CREATE_A_REGION_DATABASE_RESP_VERSION_IS_NOT_SUPPORTED
          - TOO_MANY_LOCAL_THROUGHPUT_MEASUREMENTS_DEFINED_FOR_SPECIFIED_ACTIVE_ACTIVE_SUBSCRIPTION
          - ACTIVE_ACTIVE_RAM_AND_FLASH_MEMORY_STORAGE_NOT_SUPPORTED
          - ACTIVE_ACTIVE_DATABASE_MODULE_IS_NOT_SUPPORTED
          - ACTIVE_ACTIVE_DATABASE_MODULES_IS_NOT_SUPPORTED
          - ACTIVE_ACTIVE_FOR_GCP_ACCOUNT_IS_NOT_SUPPORTED
          - ACTIVE_ACTIVE_DATABASE_ALERT_NOT_SUPPORTED
          - FLEXIBLE_DATABASE_ALERT_NOT_SUPPORTED
          - ACTIVE_ACTIVE_DATABASE_REPLICA_OF_NOT_SUPPORTED
          - ACTIVE_ACTIVE_DATABASE_PERIODIC_BACK_UP_PATH_NOT_ALLOWED
          - ACTIVE_ACTIVE_CHANGE_REQUEST_PLANNING_FAILED
          - ACTIVE_ACTIVE_CHANGE_REQUEST_PLANNING_EXPIRED
          - ACTIVE_ACTIVE_MISSING_LOCAL_THROUGHPUT_MEASUREMENT
          - ACTIVE_ACTIVE_BACKUP_MISSING_REGION_NAME
          - ACTIVE_ACTIVE_BACKUP_STATUS_MISSING_REGION_NAME
          - ACTIVE_ACTIVE_DATABASE_INVALID_CIDR_FORMAT
          - ACTIVE_ACTIVE_DATABASE_INVALID_CIDR_OVERLAPPING_OTHER_REGIONS
          - ACTIVE_ACTIVE_DATABASE_REPLICATION_CANNOT_BE_FALSE
          - ACTIVE_ACTIVE_REGIONS_MUST_BE_DEFINED_ONCE
          - ACTIVE_ACTIVE_SUBSCRIPTION_WITHOUT_REGIONS_IS_NOT_ALLOWED
          - ACTIVE_ACTIVE_DATABASE_MEMCACHED_PROTOCOL_IS_NOT_ALLOWED
          - ACTIVE_ACTIVE_DATABASE_SHARDING_MUST_BE_ENABLED
          - ACTIVE_ACTIVE_DATABASE_MISSING_DATABASE_CONFIGURATION
          - ACTIVE_ACTIVE_DATABASE_INVALID_THROUGHPUT
          - ACTIVE_ACTIVE_MISMATCH_BETWEEN_REQUEST_REGIONS_AND_SUBSCRIPTION_REGIONS
          - ACTIVE_ACTIVE_INVALID_UPDATE_DATABASE_NAME
          - ACTIVE_ACTIVE_INVALID_CREATE_REGION_NAME
          - ACTIVE_ACTIVE_INVALID_DELETE_REGION_NAME
          - ACTIVE_ACTIVE_INVALID_BACKUP_REGION_NAME
          - ACTIVE_ACTIVE_INVALID_BACKUP_STATUS_REGION_NAME
          - ACTIVE_ACTIVE_DELETE_REGIONS_MUST_BE_DEFINED_ONCE
          - ACTIVE_ACTIVE_DELETE_SUBSCRIPTION_MUST_BE_DEPLOYED_IN_AT_LEAST_ONE_REGION
          - ACTIVE_ACTIVE_REQUEST_GENERAL_ERROR
          - ACTIVE_ACTIVE_VPC_PEERING_INVALID_SOURCE_REGION_NAME
          - ACTIVE_ACTIVE_VPC_PEERING_INVALID_AWS_ACCOUNT
          - ACTIVE_ACTIVE_DATABASE_RESP_VERSION_IS_NOT_SUPPORTED
          - ACTIVE_ACTIVE_DATABASE_PREVIEW_REDIS_VERSION_IS_NOT_SUPPORTED
          - ACTIVE_ACTIVE_DATABASE_UPGRADE_IS_NOT_SUPPORTED
          - LOCAL_THROUGHPUT_MEASUREMENT_NOT_ALLOWED_WITH_SINGLE_REGION_SUBSCRIPTION
          - BACKUP_REGION_NAME_IS_NOT_ALLOWED_WITH_SINGLE_REGION_SUBSCRIPTION
          - BACKUP_STATUS_REGION_NAME_IS_NOT_ALLOWED_WITH_SINGLE_REGION_SUBSCRIPTION
          - UPDATING_LOCAL_PROPERTIES_NOT_ALLOWED_WITH_SINGLE_REGION_SUBSCRIPTION
          - DISABLING_THE_DEFAULT_USER_AND_UPDATING_A_NEW_PASSWORD_IS_NOT_ALLOWED
          - NOT_ALLOWED_TO_UPDATE_A_DATABASE_PASSWORD_WHEN_DEFAULT_USER_IS_DISABLED
          - UPDATING_SINGLE_REGION_DATABASE_NOT_ALLOWED_WITH_ACTIVE_ACTIVE_SUBSCRIPTION
          - GETTING_ACTIVE_ACTIVE_SUBSCRIPTION_VPC_PEERINGS_IS_NOT_ALLOWED_WITH_SINGLE_REGION_SUBSCRIPTION
          - UPDATING_SINGLE_REGION_CIDR_WHITE_LIST_IS_NOT_ALLOWED_WITH_ACTIVE_ACTIVE_SUBSCRIPTION
          - GETTING_SINGLE_REGION_CIDR_WHITE_LIST_IS_NOT_ALLOWED_WITH_ACTIVE_ACTIVE_SUBSCRIPTION
          - ADDING_REGION_IS_NOT_ALLOWED_WITH_SINGLE_REGION_SUBSCRIPTION
          - DELETING_REGION_IS_NOT_ALLOWED_WITH_SINGLE_REGION_SUBSCRIPTION
          - SINGLE_REGION_SUBSCRIPTION_MUST_DEFINE_ONLY_ONE_REGION
          - CREATING_A_SINGLE_REGION_VPC_PEERING_IS_NOT_ALLOWED_WITH_ACTIVE_ACTIVE_SUBSCRIPTION
          - UPDATING_A_SINGLE_REGION_VPC_PEERING_IS_NOT_ALLOWED_WITH_ACTIVE_ACTIVE_SUBSCRIPTION
          - DELETING_SINGLE_REGION_VPC_PEERING_IS_NOT_ALLOWED_WITH_ACTIVE_ACTIVE_SUBSCRIPTION
          - GETTING_SINGLE_REGION_VPC_PEERINGS_IS_NOT_ALLOWED_WITH_ACTIVE_ACTIVE_SUBSCRIPTION
          - ACTIVE_ACTIVE_DATABASE_LIMIT_EXCEEDED
          - ACTIVE_ACTIVE_REGION_LIMIT_REACHED
          - FIXED_DATABASE_NAME_IS_MISSING
          - CREATING_FIXED_DATABASE_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION
          - UPDATING_FIXED_DATABASE_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION
          - DELETING_FIXED_DATABASE_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION
          - FIXED_DATABASE_MEMORY_LIMIT_IN_GB_AND_DATA_SET_SIZE_SUPPORTED_ONLY_FOR_PAY_AS_YOU_GO
          - FIXED_DATABASE_FIXED_SUBSCRIPTION_REACHED_MAX_DATABASES_COUNT
          - FIXED_DATABASE_SOURCE_IPS_LIST_IS_GREATER_THAN_PLAN_MAX_COUNT_ALLOWED_SOURCE_IPS
          - FIXED_DATABASE_ENABLE_DATABASE_CLUSTERING_SUPPORTED_ONLY_FOR_PAY_AS_YOU_GO
          - FIXED_DATABASE_ENABLE_DATABASE_CLUSTERING_WITH_REDIS_SEARCH_OR_GRAPH_MODULES_IS_NOT_ALLOWED
          - FIXED_DATABASE_PAYG_MEMORY_LIMIT_IN_GB_IS_MISSING
          - FIXED_DATABASE_PAYG_MEMORY_LIMIT_IN_GB_OR_DATA_SET_SIZE_IN_GB_IS_MISSING
          - FIXED_DATABASE_ALERT_NOT_SUPPORTED
          - PAY_AS_YOU_GO_DATABASE_ALERT_NOT_SUPPORTED
          - FIXED_DATABASE_REPLICA_OF_MEMCACHED_IS_NOT_SUPPORTED
          - FIXED_DATABASE_STACK_PROTOCOL_CONTAINS_MODULES
          - FIXED_DATABASE_STACK_PROTOCOL_IS_NOT_SUPPORTED_IN_SELECTED_PLAN_OR_CLUSTER
          - FIXED_DATABASE_REDIS_PROTOCOL_IS_NOT_SUPPORTED_IN_SELECTED_PLAN
          - FIXED_DATABASE_REPLICATION_IS_NOT_SUPPORTED_IN_REQUESTED_PLAN
          - FIXED_DATABASE_OSS_CLUSTER_API_IS_NOT_SUPPORTED_IN_REQUESTED_PLAN
          - FIXED_DATABASE_USE_EXTERNAL_ENDPOINT_FOR_OSS_CLUSTER_API_NOT_SUPPORTED_IN_REQUESTED_PLAN
          - FIXED_DATABASE_REGEX_RULES_NOT_SUPPORTED_IN_REQUESTED_PLAN
          - FIXED_DATABASE_ENABLE_TLS_NOT_SUPPORTED_IN_REQUESTED_PLAN
          - FIXED_DATABASE_CLIENT_SSL_CERTIFICATE_NOT_SUPPORTED_IN_REQUESTED_PLAN
          - FIXED_DATABASE_REPLICA_OF_NOT_SUPPORTED_IN_REQUESTED_PLAN
          - FIXED_DATABASE_CLUSTER_DOES_NOT_SUPPORT_DATA_PERSISTENCE
          - FIXED_DATABASE_NO_EVICTION_IS_NOT_SUPPORTED_BY_CLUSTER
          - FIXED_DATABASE_DATA_EVICTION_POLICY_IS_NOT_SUPPORTED_BY_CLUSTER
          - FIXED_DATABASE_DATA_EVICTION_POLICY_IS_NOT_SUPPORTED_BY_SELECTED_MODULES
          - FIXED_DATABASE_EVICTION_POLICY_NOT_COMPATIBLE_WITH_REDIS_VERSION
          - DATABASE_EVICTION_POLICY_NOT_COMPATIBLE_WITH_REDIS_VERSION
          - DATABASE_EVICTION_POLICY_NOT_COMPATIBLE_WITH_REDIS_FLEX
          - FIXED_DATABASE_EVICTION_POLICY_NOT_COMPATIBLE_WITH_REDIS_FLEX
          - FIXED_DATABASE_REPLICA_OF_IS_NOT_SUPPORTED_BY_SELECTED_MODULES
          - FIXED_DATABASE_DATA_PERSISTENCE_VALUE_NOT_SUPPORTED_FOR_FIXED
          - FIXED_DATABASE_DATA_EVICTION_POLICY_IS_NOT_SUPPORTED_BY_ALL_MODULES_IN_SELECTED_PLAN_OR_CLUSTER
          - FIXED_DATABASE_RESP_VERSION_IS_NOT_SUPPORTED
          - FIXED_DATABASE_REDIS_FLEX_IS_NOT_SUPPORTED
          - FIXED_DATABASE_STACK_PROTOCOL_IS_NOT_SUPPORTED_FOR_REDIS_FLEX
          - FIXED_DATABASE_MEMCACHED_PROTOCOL_IS_NOT_SUPPORTED_FOR_REDIS_FLEX
          - FIXED_DATABASE_MEMCACHED_PROTOCOL_IS_NOT_SUPPORTED_FOR_FREE_PLAN
          - FIXED_DATABASE_NUMBER_OF_SHARDS_IS_NOT_SUPPORTED_FOR_THIS_ACCOUNT
          - FIXED_DATABASE_NUMBER_OF_SHARDS_REQUIRES_DATABASE_CLUSTERING_ENABLED
          - FIXED_DATABASE_NUMBER_OF_SHARDS_INVALID_VALUE
          - PAYMENT_INFO_NOT_ALLOWED_WHEN_ACCOUNT_POC_ACTIVE
          - FIXED_DATABASE_NUMBER_OF_SHARDS_SUPPORTED_ONLY_FOR_PAY_AS_YOU_GO
          - FIXED_DATABASE_NUMBER_OF_SHARDS_NOT_A_MULTIPLE_OF_CURRENT_VALUE
          - VPC_ID_NOT_ALLOWED_WITH_INTERNAL_CLOUD_ACCOUNT
          - SUBNET_ID_NOT_ALLOWED_WITH_INTERNAL_CLOUD_ACCOUNT
          - SECURITY_GROUP_ID_NOT_ALLOWED_WITH_INTERNAL_CLOUD_ACCOUNT
          - CLIENT_SSL_CERTIFICATE_IS_NOT_ALLOWED_WITHOUT_ENABLE_TLS_IS_TRUE
          - MARKETPLACE_PAYMENT_INFO_COLLISION
          - ACCOUNT_MARKETPLACE_IS_NOT_ACTIVE
          - ACCOUNT_MARKETPLACE_NOT_FOUND
          - ACCOUNT_MARKETPLACE_NOT_SUPPORT_NON_HOSTED_ACCOUNTS
          - PAYMENT_INVALID_CARD_NUMBER
          - PAYMENT_INVALID_CCV
          - PAYMENT_INVALID_CARD_TYPE
          - PAYMENT_CVV_MISSING
          - PAYMENT_GENERAL_ERROR
          - PAYMENT_HOLD_FAILED
          - ACL_USER_NAME_ALREADY_EXISTS
          - ACL_USER_NAME_NOT_VALID
          - ACL_USER_NOT_FOUND
          - ACL_USER_NAME_IS_MISSING
          - ACL_ROLE_NAME_IS_MISSING
          - ACL_ROLE_REDIS_RULE_MUST_BE_DEFINED_ONLY_ONCE_PER_DATABASE
          - ACL_ROLE_REDIS_RULE_ALREADY_EXISTS_FOR_REQUESTED_RESOURCE
          - ACL_ROLE_REDIS_RULES_IS_MISSING
          - ACL_ROLE_REDIS_RULES_DATABASES_SPEC_IS_MISSING
          - ACL_ROLE_REDIS_RULES_DATABASES_DATABASE_ID_IS_MISSING
          - ACL_ROLE_REDIS_RULES_DATABASES_SUBSCRIPTION_ID_IS_MISSING
          - ACL_ROLE_REDIS_RULES_DATABASES_REGIONS_IS_MISSING
          - ACL_ROLE_REDIS_RULES_DATABASES_REGION_MUST_BE_CRDB
          - ACL_ROLE_REDIS_RULES_DATABASES_REGION_NOT_IN_PLAN
          - ACL_ROLE_REDIS_RULES_DATABASES_REGION_NOT_UNIQUE
          - ACL_ROLE_REDIS_RULES_DATABASES_REGION_IS_NOT_BELONGS_TO_DATABASE
          - ACL_ROLE_NAME_NOT_VALID
          - ACL_ROLE_DOES_NOT_EXISTS
          - ACL_USER_PASSWORD_NOT_VALID
          - ACL_USER_PASSWORD_IS_MISSING
          - ACL_USER_CREATION_FAILURE
          - ACL_REDIS_RULE_NAME_IS_MISSING
          - ACL_REDIS_RULE_NAME_ALREADY_EXISTS
          - ACL_REDIS_RULE_NAME_NOT_VALID
          - ACL_REDIS_RULE_NAME_NOT_IN_RANGE
          - ACL_REDIS_RULE_PATTERN_IS_MISSING
          - ACL_REDIS_RULE_PATTERN_NOT_VALID
          - ACL_REDIS_RULE_INVALID_PUBSUB_PATTERN
          - ACL_REDIS_RULE_ACCOUNT_NOT_SUPPORT_PUBSUB_PATTERN
          - ACL_REDIS_RULE_ALLCHANNELS_BEFORE_SPECIFIC_CHANNEL
          - ACL_REDIS_RULE_INVALID_CATEGORY_RULE_PATTERN
          - ACL_REDIS_RULE_INVALID_KEYSPACE_RULE_PATTERN
          - ACL_REDIS_RULE_INVALID_COMMAND_OR_MODULE_COMMAND_RULE_PATTERN
          - ACL_REDIS_RULE_ALLKEYS_BEFORE_SPECIFIC_KEY
          - ACL_REDIS_RULE_CREATION_FAILURE
          - ACL_REDIS_RULE_NOT_FOUND
          - ACL_REDIS_RULE_CANNOT_UPDATE_DEFAULT
          - ACL_REDIS_RULE_CANNOT_DELETE_DEFAULT
          - ACL_REDIS_RULE_CANNOT_DELETE_WHEN_ASSOCIATED_WITH_ROLES
          - ACL_REDIS_RULE_NOT_ACTIVE
          - ACL_GENERAL_ERROR
          - ACL_ROLE_NAME_ALREADY_EXISTS
          - ACL_ROLE_HAS_ACTIVE_USERS_AND_CANNOT_BE_DELETED
          - ACL_ROLE_IS_IN_PENDING_STATUS_AND_CANNOT_BE_DELETED
          - ACL_ROLE_IS_IN_PENDING_STATUS_AND_CANNOT_BE_UPDATED
          - ACL_ROLE_NOT_FOUND
          - ACL_ROLE_ID_IS_MISSING
          - ACL_REDIS_RULE_DOES_NOT_EXISTS
          - ACL_REDIS_RULE_INVALID_KEY_PERMISSION_PATTERN
          - ACL_REDIS_RULE_INVALID_SELECTORS_PATTERN
          - BDB_IS_NOT_IN_CORRECT_VERSION_FOR_GIVEN_ACL_VERSION
          - USER_NOT_FOUND
          - USER_INSUFFICIENT_ROLE
          - USER_NAME_IS_INVALID
          - USER_CANNOT_UPDATE_IT_IS_OWN_ROLE
          - USER_WITHOUT_OWNER_PERMISSION_CANNOT_UPDATE_USERS
          - USER_WITHOUT_OWNER_PERMISSION_CANNOT_PERFORM_ACTIONS_ON_USERS
          - USER_CANNOT_BE_UPDATED_OR_DELETED_BEFORE_VERIFICATION
          - USER_ROLE_DOES_NOT_EXISTS
          - USER_ROLE_IS_MISSING
          - USER_CANNOT_DELETE_OWN_USER
          - ENTITY_NOT_FOUND
          - FIXED_SUBSCRIPTION_CREATE_PLAN_NOT_FOUND
          - FIXED_SUBSCRIPTION_UPDATE_INVALID_PLAN
          - FIXED_SUBSCRIPTION_PLAN_NOT_PROVIDED
          - FIXED_SUBSCRIPTION_ACCOUNT_ALREADY_HAS_A_FREE_PLAN
          - FIXED_MISMATCH_BETWEEN_REQUEST_PLAN_CLOUD_PROVIDER_AND_SUBSCRIPTION_CLOUD_PROVIDER
          - FIXED_MISMATCH_BETWEEN_REQUEST_PLAN_REGION_AND_SUBSCRIPTION_REGION
          - FIXED_SUBSCRIPTION_PLAN_MAX_DATABASES_SMALLER_THEN_CURRENT_SUBSCRIPTION_DATABASES_COUNT
          - FIXED_SUBSCRIPTION_PLAN_SIZE_SMALLER_THEN_CURRENT_SUBSCRIPTION_USAGE
          - FIXED_SUBSCRIPTION_PLAN_NOT_SUPPORT_REPLICA_OF
          - FIXED_SUBSCRIPTION_PLAN_DATABASES_ARE_RESTRICTED_TO_A_SINGLE_CLUSTER
          - FIXED_SUBSCRIPTION_PLAN_NOT_SUPPORT_TLS
          - FIXED_SUBSCRIPTION_PLAN_CANNOT_CHANGED_FROM_AVAILABILITY_OF_SINGLE_ZONE_OR_NO_REPLICATION_TO_MULTI_ZONE
          - FIXED_SUBSCRIPTION_PLAN_CANNOT_CHANGED_FROM_AVAILABILITY_OF_MULTI_ZONE_TO_SINGLE_ZONE_OR_NO_REPLICATION
          - FIXED_SUBSCRIPTION_PLAN_MAX_SOURCE_IPS_IS_SMALLER_THEN_ONE_OF_EXISTING_DATABSE_SOURCE_IPS
          - FIXED_SUBSCRIPTION_INVALID_NAME
          - FIXED_SUBSCRIPTION_NAME_NOT_PROVIDED
          - REDIS_FLEX_PLAN_CANNOT_BE_UPDATED_TO_NON_REDIS_FLEX
          - NON_REDIS_FLEX_PLAN_CANNOT_BE_UPDATED_TO_REDIS_FLEX_PLAN
          - DELETING_A_FIXED_SUBSCRIPTION_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION
          - UPDATING_A_FIXED_SUBSCRIPTION_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION
          - UPDATING_A_FIXED_SUBSCRIPTION_PLAN_IS_NOT_ALLOWED_WHILE_THE_SUBSCRIPTION_OR_BDB_IS_PENDING
          - FIXED_PAYMENT_INFO_NOT_ALLOWED_IN_FREE_FIXED_PLAN
          - FREE_PLAN_IS_ALLOWED_ONLY_FOR_ACCOUNTS_WITH_VALID_PAYMENT_INFO
          - BACKUP_A_FIXED_DATABASE_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION
          - IMPORT_A_FIXED_DATABASE_IS_NOT_ALLOWED_WITH_A_FLEXIBLE_SUBSCRIPTION
          - TOO_MANY_PENDING_SUBSCRIPTIONS
          - BAD_REQUEST
          - GENERAL_ERROR
          - CONFLICT_ERROR
          - UNKNOWN_STATUS
          - CRDB_FLUSH_FAILURE
          - CRDB_FLUSH_ACTION_NOT_ALLOWED_WITH_SINGLE_REGION_SUBSCRIPTION
          - DATABASE_NAME_CHANGE_NOT_SUPPORTED
          - DATABASE_INVALID_LOCATION_BACKUP
          - DATABASE_GENERAL_ERROR_BACKUP
          - CLUSTER_COMMUNICATION_ERROR
          - MAINTENANCE_WINDOW_INVALID_MAINTENANCE_WINDOW_SPEC_PROVIDED
          - MAINTENANCE_WINDOW_INVALID_MAINTENANCE_WINDOW_MODE_PROVIDED
          - MAINTENANCE_WINDOW_MANUAL_MODE_WITH_NO_MAINTENANCE_WINDOWS
          - MAINTENANCE_WINDOW_AUTOMATIC_MODE_WITH_MAINTENANCE_WINDOWS
          - MAINTENANCE_WINDOW_GREATER_THAN_MAXIMUM_ALLOWABLE_MAINTENANCE_WINDOWS_PROVIDED
          - MAINTENANCE_WINDOW_INVALID_START_HOUR
          - MAINTENANCE_WINDOW_INVALID_DURATION_IN_HOURS
          - MAINTENANCE_WINDOW_INVALID_DAYS
          - MAINTENANCE_WINDOW_DUPLICATE_DAYS
          - MAINTENANCE_WINDOW_INVALID_DURATION_FOR_ROF_SUBSCRIPTION
          - MAINTENANCE_WINDOW_UNKNOWN_MEMORY_STORAGE_TYPE
          - DATABASE_UPGRADE_IS_ALREADY_RUNNING
          - DATABASE_CLUSTER_IS_IN_MAINTENANCE
          - DATABASE_IS_NOT_ACTIVE
          - DATABASE_UPGRADE_WORKFLOW_NOT_FOUND
          - DATABASE_UPGRADE_INVALID_REDIS_VERSION
          - DATABASE_UPGRADE_OF_MEMCACHED_IS_NOT_SUPPORTED
          - DATABASE_REPLICA_OF_INCOMPATIBLE_VERSION
          - DATABASE_UPGRADE_FAILED
          - DATABASE_INVALID_PLAN_TYPE
          - DATABASE_UPGRADE_IS_NOT_SUPPORTED
          - ACTIVE_ACTIVE_EXTERNAL_ACCOUNTS_NOT_SUPPORTED
          - ACTIVE_ACTIVE_MULTIPLE_CLOUD_ACCOUNTS_NOT_SUPPORTED
          - ACTIVE_ACTIVE_GCP_EXTERNAL_CLOUD_ACCOUNT_NOT_SUPPORTED
          - DB_ENDPOINTS_SERVICE_NOT_FOUND
          - ENDPOINTS_REDIRECTION_NOT_FOUND
          - DATABASE_TRAFFIC_STATE_NOT_FOUND
          - ENDPOINTS_REDIRECTION_SOURCE_HAS_NO_ENDPOINTS
          - ENDPOINTS_REDIRECTION_TARGET_HAS_NO_ENDPOINTS
          - ENDPOINTS_REDIRECTION_ALREADY_EXISTS
          - DATABASE_IN_ACTIVE_ENDPOINTS_REDIRECTION
          - ENDPOINTS_REDIRECTION_NOT_LATEST
          - ENDPOINTS_REDIRECTION_NOT_COMPLETED
          - ENDPOINTS_REDIRECTION_INVALID_ENDPOINT_TYPE
          - ENDPOINTS_REDIRECTION_DATABASES_NOT_COMPATIBLE
          - ENDPOINTS_REDIRECTION_DATABASE_STATE_NOT_SUPPORTED
          - ENDPOINTS_REDIRECTION_CONNECTIVITY_MISMATCH
          - ENDPOINTS_REDIRECTION_REVERT_WINDOW_EXCEEDED
          - ENDPOINTS_REDIRECTION_ACCOUNT_MISMATCH
          - ENDPOINTS_REDIRECTION_DNS_SERVICE_NOT_AVAILABLE
          - DATABASE_TRAFFIC_RESUME_IN_PROGRESS
          - DATABASE_TRAFFIC_NOT_STOPPED
          - DATABASE_TRAFFIC_RESUME_NOT_ELIGIBLE
          - DEDICATED_SUBSCRIPTION_PREFERRED_AZ_INVALID_VALUE
          - DEDICATED_SUBSCRIPTION_INVALID_INSTANCE_NAME
          - DEDICATED_SUBSCRIPTION_INVALID_REPLICATION
          - PRIVATE_LINK_NOT_FOUND
          - PRIVATE_LINK_ALREADY_EXISTS
          - PRIVATE_LINK_PRINCIPAL_ALREADY_EXISTS
          - PRIVATE_LINK_PRINCIPAL_NOT_FOUND
          - PRIVATE_LINK_PRINCIPAL_INVALID_PRINCIPLE
          - PRIVATE_LINK_PRINCIPAL_CANNOT_BE_OWNER_ACCOUNT
          - PRIVATE_LINK_CLOUD_PROVIDER_NOT_SUPPORTED
          - PRIVATE_LINK_GET_A_FLEXIBLE_SUBSCRIPTION_PRIVATE_LINK_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION
          - PRIVATE_LINK_GET_AN_ACTIVE_ACTIVE_SUBSCRIPTION_PRIVATE_LINK_IS_NOT_ALLOWED_WITH_A_SINGLE_REGION_SUBSCRIPTION
          - PRIVATE_LINK_CREATING_PRINCIPLES_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION
          - PRIVATE_LINK_CREATING_PRINCIPLES_IS_NOT_ALLOWED_WITH_A_SINGLE_REGION_SUBSCRIPTION
          - PRIVATE_LINK_DELETING_A_FLEXIBLE_SUBSCRIPTION_PRINCIPALS_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION
          - PRIVATE_LINK_DELETING_AN_ACTIVE_ACTIVE_SUBSCRIPTION_PRINCIPALS_IS_NOT_ALLOWED_WITH_A_SINGLE_REGION_SUBSCRIPTION
          - PRIVATE_LINK_CREATE_A_FLEXIBLE_SUBSCRIPTION_PRIVATE_LINK_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION
          - PRIVATE_LINK_CREATE_AN_ACTIVE_ACTIVE_SUBSCRIPTION_PRIVATE_LINK_IS_NOT_ALLOWED_WITH_A_SINGLE_REGION_SUBSCRIPTION
          - PRIVATE_LINK_DELETING_A_FLEXIBLE_SUBSCRIPTION_PRIVATE_LINK_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION
          - PRIVATE_LINK_DELETING_AN_ACTIVE_ACTIVE_SUBSCRIPTION_PRIVATE_LINK_IS_NOT_ALLOWED_WITH_A_SINGLE_REGION_SUBSCRIPTION
          - PRIVATE_LINK_IS_NOT_SUPPORTED
          - PRIVATE_LINK_SERVICE_ERROR
          - PRIVATE_LINK_SUBSCRIPTION_REACHED_MAX_DATABASES_COUNT
          - PRIVATE_LINK_ALL_PRINCIPALS_MUST_BE_DELETED_BEFORE_DELETING_RESOURCE_LINK
          - PRIVATE_LINK_DISASSOCIATE_CONNECTIONS_A_FLEXIBLE_SUBSCRIPTION_PRIVATE_LINK_IS_NOT_ALLOWED_WITH_AN_ACTIVE_ACTIVE_SUBSCRIPTION
          - PRIVATE_LINK_DISASSOCIATE_CONNECTIONS_AN_ACTIVE_ACTIVE_SUBSCRIPTION_PRIVATE_LINK_IS_NOT_ALLOWED_WITH_A_SINGLE_REGION_SUBSCRIPTION
          - COST_REPORT_IS_NOT_SUPPORTED
          - COST_REPORT_START_DATE_IS_MISSING
          - COST_REPORT_END_DATE_IS_MISSING
          - COST_REPORT_INVALID_DATE_FORMAT
          - COST_REPORT_END_DATE_BEFORE_START_DATE
          - COST_REPORT_DATE_RANGE_EXCEEDS_LIMIT
          - COST_REPORT_TAG_KEY_EMPTY
          - COST_REPORT_TAG_VALUE_EMPTY
          - COST_REPORT_FUTURE_DATES_NOT_ALLOWED
          - AGENT_MEMORY_IS_DISABLED
          - AGENT_MEMORY_STORE_INVALID_REQUEST
          - AGENT_MEMORY_STORE_NOT_FOUND
          - AGENT_MEMORY_STORE_FORBIDDEN
          - AGENT_MEMORY_STORE_DEPENDENCY_FAILED
        additionalInfo:
          type: string
    SubscriptionDatabaseSpec:
      required:
      - name
      - protocol
      type: object
      properties:
        name:
          type: string
          description: Name of the database. Database name is limited to 40 characters or less and must include only letters, digits, and hyphens ('-'). It must start with a letter and end with a letter or digit.
          example: Redis-database-example
        protocol:
          type: string
          description: 'Optional. Database protocol. Only set to ''memcached'' if you have a legacy application. Default: ''redis'''
          enum:
          - redis
          - memcached
        port:
          type: integer
          description: Optional. TCP port on which the database is available (10000-19999). Generated automatically if not set.
          format: int32
          example: 10000
        memoryLimitInGb:
          minimum: 0.1
          type: number
          description: Optional. Total memory in GB, including replication and other overhead. You cannot set both datasetSizeInGb and totalMemoryInGb.
          format: double
          example: 1
          deprecated: true
        datasetSizeInGb:
          minimum: 0.1
          type: number
          description: Optional. The maximum amount of data in the dataset for this database in GB. You cannot set both datasetSizeInGb and totalMemoryInGb. If ‘replication’ is 'true', the database’s total memory will be twice as large as the datasetSizeInGb.If ‘replication’ is false, the database’s total memory will be the datasetSizeInGb value.
          format: double
          example: 1
        supportOSSClusterApi:
          type: boolean
          description: 'Optional. Support Redis [OSS Cluster API](https://redis.io/docs/latest/operate/rc/databases/configuration/clustering/#oss-cluster-api). Default: ''false'''
          example: false
        dataPersistence:
          type: string
          description: 'Optional. Type and rate of data persistence in persistent storage. Default: ''none'''
          enum:
          - none
          - aof-every-1-second
          - aof-every-write
          - snapshot-every-1-hour
          - snapshot-every-6-hours
          - snapshot-every-12-hours
        replication:
          type: boolean
          description: 'Optional. Databases replication. Default: ''true'''
        throughputMeasurement:
          $ref: '#/components/schemas/DatabaseThroughputSpec'
        localThroughputMeasurement:
          type: array
          description: 'Optional. Expected throughput per region for an Active-Active database. Default: 1000 read and write ops/sec for each region'
          items:
            $ref: '#/components/schemas/LocalThroughput'
        modules:
          type: array
          description: Optional. Redis advanced capabilities (also known as modules) to be provisioned in the database. Use GET /database-modules to get a list of available advanced capabilities. Don't specify modules for database versions 8 and above. All capabilities are bundled in the database by default.
          items:
            $ref: '#/components/schemas/DatabaseModuleSpec'
        quantity:
          type: integer
          description: 'Optional. Number of databases that will be created with these settings. Default: 1'
          format: int32
          example: 1
        averageItemSizeInBytes:
          type: integer
          description: 'Optional. Relevant only to ram-and-flash (also known as Redis-Flex/Auto-Tiering) subscriptions. Estimated average size in bytes of the items stored in the database. Default: 1000'
          format: int64
          deprecated: true
        ramPercentage:
          type: integer
          description: 'Optional. Relevant only to ram-and-flash (also known as Redis-Flex/Auto-Tiering) subscriptions. The percentage of data to be stored in RAM. Must be between 10 and 50 in steps of 10 (10, 20, 30, 40, 50). Default: 20'
          format: int32
          example: 20
        respVersion:
          type: string
          description: Optional. Redis Serialization Protocol version. Must be compatible with Redis version.
          example: resp3
          enum:
          - resp2
          - resp3
        redisVersion:
          type: string
          description: Optional. If specified, redisVersion defines the Redis database version. If omitted, the Redis version will be set to the default version (available in 'GET /subscriptions/redis-versions')
          example: '7.2'
        autoMinorVersionUpgrade:
          type: boolean
          description: 'Optional. Automatically upgrades the database to newer minor versions within the same major release. Applies to version 8.4 and above. Default: true.'
        shardingType:
          type: string
          description: Optional. Database [Hashing policy](https://redis.io/docs/latest/operate/rc/databases/configuration/clustering/#manage-the-hashing-policy).
          enum:
          - default-regex-rules
          - custom-regex-rules
          - redis-oss-hashing
        queryPerformanceFactor:
          type: string
          description: Optional. The query performance factor adds extra compute power specifically for search and query databases. You can increase your queries per second by the selected factor.
          example: 2x
      description: One or more database specification(s) to create in this subscription.
    TaskStateUpdate:
      type: object
      properties:
        taskId:
          type: string
          format: uuid
        commandType:
          type: string
        status:
          type: string
          enum:
          - initialized
          - received
          - processing-in-progress
          - processing-completed
          - processing-error
        description:
          type: string
        timestamp:
          type: string
          format: date-time
        response:
          $ref: '#/components/schemas/ProcessorResponse'
        links:
          type: array
          items:
            type: object
            additionalProperties:
              type: string
    LocalThroughput:
      type: object
      properties:
        region:
          type: string
          description: Specify one of the selected cloud provider regions for the subscription.
        writeOperationsPerSecond:
          type: integer
          description: 'Write operations for this region per second. Default: 1000 ops/sec'
          format: int64
          example: 1000
        readOperationsPerSecond:
          type: integer
          description: 'Read operations for this region per second. Default: 1000 ops/sec'
          format: int64
          example: 1000
      description: Optional. Expected read and write throughput for this region.
    ActiveActiveRegionDeleteRequest:
      type: object
      properties:
        subscriptionId:
          type: integer
          format: int32
          readOnly: true
        regions:
          type: array
          description: The names of the regions to delete.
          items:
            $ref: '#/components/schemas/ActiveActiveRegionToDelete'
        dryRun:
          type: boolean
          description: 'Optional. When ''false'': Creates a deployment plan and deploys it, deleting any resources required by the plan. When ''true'': creates a read-only deployment plan and does not delete or modify any resources. Default: ''false'''
          example: false
        commandType:
          type: string
          readOnly: true
      description: Active active region deletion request message
    DatabaseModuleSpec:
      required:
      - name
      type: object
      properties:
        name:
          type: string
          description: Redis advanced capability name. Use GET /database-modules for a list of available capabilities.
        parameters:
          type: object
          additionalProperties:
            type: object
            description: Optional. Redis advanced capability parameters. Use GET /database-modules to get the available capabilities and their parameters.
            example: {}
          description: Optional. Redis advanced capability parameters. Use GET /database-modules to get the available capabilities and their parameters.
          example: {}
      description: Optional. Redis advanced capabilities (also known as modules) to be provisioned in the database. Use GET /database-modules to get a list of available advanced capabilities. Don't specify modules for database versions 8 and above. All capabilities are bundled in the database by default.
    SubscriptionCreateRequest:
      required:
      - cloudProviders
      - databases
      type: object
      properties:
        name:
          type: string
          description: Optional. New subscription name.
          example: My new subscription
        dryRun:
          type: boolean
          description: 'Optional. When ''false'': Creates a deployment plan and deploys it, creating any resources required by the plan. When ''true'': creates a read-only deployment plan and does not create any resources. Default: ''false'''
          example: false
        deploymentType:
          type: string
          description: 'Optional. When ''single-region'' or not set: Creates a single region subscription. When ''active-active'': creates an Active-Active (multi-region) subscription.'
          example: single-region
          enum:
          - single-region
          - active-active
        paymentMethod:
          type: string
          description: 'Optional. The payment method for the subscription. If set to ‘credit-card’, ‘paymentMethodId’ must be defined. Default: ''credit-card'''
          enum:
          - credit-card
          - marketplace
        paymentMethodId:
          type: integer
          description: Optional. A valid payment method ID for this account. Use GET /payment-methods to get a list of all payment methods for your account. This value is optional if ‘paymentMethod’ is ‘marketplace’, but required for all other account types.
          format: int32
        memoryStorage:
          type: string
          description: 'Optional. Memory storage preference: either ''ram'' or a combination of ''ram-and-flash'' (also known as Auto Tiering). Default: ''ram'''
          example: ram
          enum:
          - ram
          - ram-and-flash
        persistentStorageEncryptionType:
          type: string
          description: 'Optional. Persistent storage encryption secures data at rest for database persistence. By default, disk storage is encrypted by keys managed by the cloud provider. Use ''customer-managed-key'' if you want to use self-managed persistent storage encryption keys. Default: ''cloud-provider-managed-key'''
          example: cloud-provider-managed-key
          enum:
          - cloud-provider-managed-key
          - customer-managed-key
        persistentStorageEncryptionKeys:
          $ref: '#/components/schemas/CustomerManagedKeyProperties'
        cloudProviders:
          type: array
          description: Cloud provider, region, and networking details.
          items:
            $ref: '#/components/schemas/SubscriptionSpec'
        databases:
          type: array
          description: One or more database specification(s) to create in this subscription.
          items:
            $ref: '#/components/schemas/SubscriptionDatabaseSpec'
        redisVersion:
          type: string
          description: Optional. Defines the Redis version of the databases created in this specific request. It doesn't determine future databases associated with this subscription. If not set, databases will use the default Redis version. This field is deprecated and will be removed in a future API version - use the database-level redisVersion property instead.
          example: '7.2'
          deprecated: true
        publicEndpointAccess:
          type: boolean
          description: 'Optional. When ''false'', all databases on this subscription will reject any connection attempt to the public endpoint and any connection attempt to the private endpoint that does not come from an IP address in the private address space defined in [RFC 1918](https://datatracker.ietf.org/doc/html/rfc1918#section-3 ). You must use a [private connectivity method](https://redis.io/docs/latest/operate/rc/security/database-security/block-public-endpoints/#private-connectivity-methods ) to connect to a database with a blocked public endpoint. Default: ''true''.'
        commandType:
          type: string
          readOnly: true
      description: Subscription create request
    SubscriptionUpdateRequest:
      type: object
      properties:
        subscriptionId:
          type: integer
          format: int32
          readOnly: true
        name:
          type: string
          description: Optional. Updated subscription name.
          example: My new subscription name
        paymentMethodId:
          type: integer
          description: Optional. The payment method ID you'd like to use for this subscription. Must be a valid payment method ID for this account. Use GET /payment-methods to get all payment methods for your account. This value is optional if ‘paymentMethod’ is ‘marketplace’, but required if 'paymentMethod' is 'credit-card'.
          format: int32
        paymentMethod:
          type: string
          description: Optional. The payment method for the subscription. If set to ‘credit-card’ , ‘paymentMethodId’ must be defined.
          enum:
          - credit-card
          - marketplace
        publicEndpointAccess:
          type: boolean
          description: Optional. When 'false', all databases on this subscription will reject any connection attempt to the public endpoint and any connection attempt to the private endpoint that does not come from an IP address in the private address space defined in [RFC 1918](https://datatracker.ietf.org/doc/html/rfc1918#section-3 ). You must use a [private connectivity method](https://redis.io/docs/latest/operate/rc/security/database-security/block-public-endpoints/#private-connectivity-methods ) to connect to a database with a blocked public endpoint.
        commandType:
          type: string
          readOnly: true
      description: Subscription update request message
    SubscriptionMaintenanceWindowsSpec:
      required:
      - mode
      type: object
      properties:
        mode:
          type: string
          description: 'Maintenance window mode: either ''manual'' or ''automatic''. Must provide ''windows'' if manual.'
          example: manual
          enum:
          - manual
          - automatic
        windows:
          type: array
          description: Maintenance window timeframes if mode is set to 'manual'. Up to 7 maintenance windows can be provided.
          items:
            $ref: '#/components/schemas/MaintenanceWindowSpec'
    ResourceTag:
[...]
