openapi: 3.2.0
info:
  title: Redis Cli API
  version: '2026-10-04'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-10-04: 19 operation(s) read from 11 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; Redis has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 13
    documentation: 6
    pages-with-code: 9
    pages-read: 11
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-10-04'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://redis.io/docs/latest/operate/rs/references/rest-api/index.html.md
  - https://redis.io/tutorials/context-engineering-workshop-java.md
  - https://redis.io/docs/latest/develop/ai/context-engine/langcache
  - https://redis.io/docs/latest/develop/ai/context-engine/langcache/api-examples
  - https://redis.io/tutorials/what-is-agent-memory-example-using-langgraph-and-redis.md
  - https://redis.io/docs/latest/operate/oss_and_stack/install/install-stack/install-redis-cli
  - https://redis.io/tutorials/develop/rust.md
  - https://redis.io/tutorials/howtos/socialnetwork.md
  - https://redis.io/tutorials/create/azurefunctions.md
  - https://redis.io/tutorials/howtos/frauddetection.md
  - https://redis.io/tutorials/data-deduplication-with-redis.md
servers:
- url: https://packages.redis.io
security:
- bearer: []
tags:
- name: Redis Cli
paths:
  /redis-cli/install.sh:
    get:
      operationId: get_redis_cli_install_sh
      tags:
      - Redis Cli
      summary: GET /redis-cli/install.sh
      x-source: https://redis.io/docs/latest/operate/oss_and_stack/install/install-stack/install-redis-cli
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl -fsSL https://packages.redis.io/redis-cli/install.sh | sh \n The script detects your operating system and architecture, downloads the matching redis-cli binary, verifies its SHA-256 checksum, and installs it to /usr/local/bin (using sudo if required). If /usr/local/bin is not writable, it installs to ~/.local/bin instead. \n Note: \n As with any curl ... | sh command, review the install script b"
components:
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
