openapi: 3.2.0
info:
  title: Redis Cloud Data Integration API
  description: Redis Cloud API
  contact:
    name: Customer Support
    url: https://support.redislabs.com
    email: support@redis.com
  version: Version 1
servers:
- url: https://api.redislabs.com
security:
- x-api-key: []
  x-api-secret-key: []
  x-auth-token: []
tags:
- name: Data Integration
paths:
  /v1/subscriptions/{subscriptionId}/data-integration-workspace/**:
    get:
      tags:
      - Data Integration
      summary: Proxy a Data Integration workspace request
      description: Forwards the request to the Data Integration workspace owned by the specified subscription. Path under `data-integration-workspace/**` is forwarded as-is to the Cloud RDI service.
      operationId: proxyDataIntegrationWorkspace_2
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: requestBody
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/JsonNode'
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonNode'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
    put:
      tags:
      - Data Integration
      summary: Proxy a Data Integration workspace request
      description: Forwards the request to the Data Integration workspace owned by the specified subscription. Path under `data-integration-workspace/**` is forwarded as-is to the Cloud RDI service.
      operationId: proxyDataIntegrationWorkspace_4
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonNode'
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonNode'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
    post:
      tags:
      - Data Integration
      summary: Proxy a Data Integration workspace request
      description: Forwards the request to the Data Integration workspace owned by the specified subscription. Path under `data-integration-workspace/**` is forwarded as-is to the Cloud RDI service.
      operationId: proxyDataIntegrationWorkspace_3
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonNode'
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonNode'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
    delete:
      tags:
      - Data Integration
      summary: Proxy a Data Integration workspace request
      description: Forwards the request to the Data Integration workspace owned by the specified subscription. Path under `data-integration-workspace/**` is forwarded as-is to the Cloud RDI service.
      operationId: proxyDataIntegrationWorkspace
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonNode'
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonNode'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
    patch:
      tags:
      - Data Integration
      summary: Proxy a Data Integration workspace request
      description: Forwards the request to the Data Integration workspace owned by the specified subscription. Path under `data-integration-workspace/**` is forwarded as-is to the Cloud RDI service.
      operationId: proxyDataIntegrationWorkspace_1
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonNode'
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonNode'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
  /v1/subscriptions/{subscriptionId}/data-integration-workspace:
    get:
      tags:
      - Data Integration
      summary: Proxy a Data Integration workspace request
      description: Forwards the request to the Data Integration workspace owned by the specified subscription. Path under `data-integration-workspace/**` is forwarded as-is to the Cloud RDI service.
      operationId: proxyDataIntegrationWorkspace_7
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      - name: requestBody
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/JsonNode'
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonNode'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
    put:
      tags:
      - Data Integration
      summary: Proxy a Data Integration workspace request
      description: Forwards the request to the Data Integration workspace owned by the specified subscription. Path under `data-integration-workspace/**` is forwarded as-is to the Cloud RDI service.
      operationId: proxyDataIntegrationWorkspace_9
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonNode'
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonNode'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
    post:
      tags:
      - Data Integration
      summary: Proxy a Data Integration workspace request
      description: Forwards the request to the Data Integration workspace owned by the specified subscription. Path under `data-integration-workspace/**` is forwarded as-is to the Cloud RDI service.
      operationId: proxyDataIntegrationWorkspace_8
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonNode'
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonNode'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
    delete:
      tags:
      - Data Integration
      summary: Proxy a Data Integration workspace request
      description: Forwards the request to the Data Integration workspace owned by the specified subscription. Path under `data-integration-workspace/**` is forwarded as-is to the Cloud RDI service.
      operationId: proxyDataIntegrationWorkspace_5
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonNode'
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonNode'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
    patch:
      tags:
      - Data Integration
      summary: Proxy a Data Integration workspace request
      description: Forwards the request to the Data Integration workspace owned by the specified subscription. Path under `data-integration-workspace/**` is forwarded as-is to the Cloud RDI service.
      operationId: proxyDataIntegrationWorkspace_6
      parameters:
      - name: subscriptionId
        in: path
        description: Subscription ID.
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonNode'
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonNode'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '408':
          description: Request Timeout - The server didn't receive a complete request message within the server's allotted timeout period
        '409':
          description: Conflict - request could not be processed because of a conflict (primarily due to another resource that exist with new updated name)
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
  /v1/data-integration-workspaces:
    get:
      tags:
      - Data Integration
      summary: List Data Integration workspaces
      description: Lists all Data Integration workspaces in the current account. Proxied to the Cloud RDI service.
      operationId: getDataIntegrationWorkspaces
      responses:
        '400':
          description: Bad Request - The server cannot process the request due to something that is perceived to be a client error
        '412':
          description: Precondition Failed - Feature flag for this flow is off
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonNode'
        '401':
          description: Unauthorized - Authentication failed for requested resource
        '403':
          description: Forbidden - Not allowed to access requested resource (primarily due to client source IP API Key restrictions)
        '404':
          description: Not Found - The resource you were trying to reach was not found or does not exist
        '429':
          description: Too Many Requests - Too many resources are concurrently created / updated / deleted in the account. Please re-submit API requests after resource changes are completed)
        '500':
          description: Internal system error - If this error persists, please contact customer support
        '503':
          description: 'Service Unavailable - Server is temporarily unable to handle the request, please try again later. If this error persists, please contact customer support '
components:
  schemas:
    JsonNode:
      type: object
  securitySchemes:
    x-api-key:
      type: apiKey
      name: x-api-key
      in: header
    x-api-secret-key:
      type: apiKey
      name: x-api-secret-key
      in: header
    x-auth-token:
      type: apiKey
      name: x-auth-token
      in: header
externalDocs:
  description: Redis Cloud API Documentation
  url: https://docs.redislabs.com/latest/rc/api/
